{% load i18n %}
{% if urlpath %}
<nav aria-label="breadcrumb" id="article-breadcrumbs">
  <ul class="breadcrumb border-bottom d-print-none">
    {% for ancestor in urlpath.cached_ancestors %}
      <li class="breadcrumb-item {% if forloop.first %}ml-autoxx{% endif %}"><a href="{% url 'wiki:get' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item active">{{ article.current_revision.title|truncatechars:25 }}</li>
    <li class="breadcrumb-item btn-group " role="group">
      <div class="btn-group" role="group">
          <button class="btn btn-secondary dropdown-toggle" id="wiki-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{% trans "Sub-articles for" %} {{ article.current_revision.title }}">
            <i class="fas fa-folder"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="wiki-dropdown">
            {% for child in children_slice %}
              <a class="dropdown-item" href="{% url 'wiki:get' path=child.path %}">
                  {{ child.article.current_revision.title }}
              </a>
              {% empty %}
              <a class="dropdown-item" href="#"><em>{% trans "No sub-articles" %}</em></a>
            {% endfor %}
            {% if children_slice_more %}
            <a class="dropdown-item" href="#"><em>{% trans "...and more" %}</em></a>
            {% endif %}
              <a class="dropdown-item border-top border-light" href="{% url 'wiki:dir' path=urlpath.path %}">{% trans "Browse articles in this level" %} &raquo;</a>
          </div>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-secondary dropdown-toggle" id="wiki-article-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{% trans "Sub-articles for" %} {{ article.current_revision.title }}">
          <i class="fas fa-folder-plus"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="wiki-article-dropdown">
            {% if urlpath.parent %}
            <a class="dropdown-item" href="{% url 'wiki:create' path=urlpath.parent.path %}">{% blocktrans with article.current_revision.title as title %}New article next to {{ title }}{% endblocktrans %}
            </a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'wiki:create' path=urlpath.path %}">
              {% blocktrans with article.current_revision.title as title %}New article below {{ title }}{% endblocktrans %}
            </a>
        </div>
      </div>
  </li>
</ul>
 </nav>
{% endif %}
