{% extends "base.html" %}
{% load tz %}
{% load static %}
{% load news %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<link rel="stylesheet" href="{% static 'css/xr-blog.css' %}">
{% endblock %}
{% block title %}:: {{page.title}}{% endblock %}
{% block og_title %}{{page.title}}{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="{{page.specific.lede}}" />
{% endblock %}
{% block og_image %}
  {% image page.hero_image fill-1024x576 format-jpeg as oghero %}
  <meta property="og:image" content="https://{{request.get_host}}{{oghero.url}}" />
  <meta property="og:image:alt" content="{{oghero.caption}}" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:height" content="576"/>
  <meta property="og:image:width" content="1024"/>

{% endblock %}
{% block inline_css %}
{{block.super}}


.slide-arrow {
  margin: 0;
  padding: 0;
  background-color: transparent;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 40%;
}
.slide-arrow:focus {
  outline: 0;
}
.prev-arrow{
  left: -20px;
  font-size: 1.5em;
  color: #888;
}
.next-arrow{
  right: -20px;
  font-size: 1.5em;
  color: #888;
}

{% endblock %}

{% block content %}

<div class="row mx-auto">
    <!-- main content -->
    <div class="col-12 col-lg-7 offset-lg-1 bg-white pb-5" data-column-name="story">
        <div class="pt-3">
            {% if page.hero_image %}
            {% image page.hero_image fill-1280x720 class="hero-image mb-2"%}
            {% endif %}
            <h1 class="mb-1 blog-title">{{page.title}}</h1>
            <div>
                <small>
                By {{page.owner.username|default:"Anonymous"}} | {{page.date}}
                </small>
            </div>
            <div class="mt-2">
            {% for tag in page.tags.all %}
              <span class="blog-tag ml-0 mr-2 my-1"><a href="{% pageurl page.get_parent %}?tag={{tag}}">{{tag}}</a></span>
            {% endfor %}
            </div>

            <hr class="thick">
            <div>
            <!-- consider a separate grid here with rows for each block -->
            {% for block in page.content %}
              {% include_block block%}
            {% endfor %}
            </div>
        </div>
        <!-- sharing links -->
        <div>
          <ul class="list-inline">
            <li class="list-inline-item">
              <span class="text-fucxed d-4">Share</span>
            </li>
            <li class="list-inline-item">
              <a href="{{page|share_url:"fb"}}" target="_blank" class="social-share">
                  <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{page|share_url:"twitter"}}" target="_blank" class="social-share">
                  <i class="fab fa-twitter"></i>
              </a>
            </li>
            
            <li class="list-inline-item">
              <a href="{{page|share_url:"email"}}" target="_blank" class="social-share">
                  <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
        <hr class="thick mt-3">
        <div class="row blog-sibling">
          <div class="col">
           {% if prevstory %}
           <a href="{% pageurl prevstory %}">
           <i class="fas fa-arrow-alt-circle-left"></i><span class="text-fucxed d-4 ml-1">Previous</span><br>
           <span class="ml-1">{{prevstory.title}}</span>
           </a>
           {% endif %}
          </div>
          <div class="col text-right">
           {% if nextstory %}
           <a href="{% pageurl nextstory %}">
           <span class="text-fucxed d-4">Next</span>
           <i class="fas fa-arrow-alt-circle-right"></i><br>
            <span class="mr-1">{{nextstory.title}}</span>
           </a>
           {% endif %}
          </div>
        </div>
        <div class="row px-2">
          {% if related %}
            <h4 class="mb-2 mt-4">Related Stories:</h4>
            <div class="row">
            {% for story in related %}
              {% if story.id != page.id %}
                <div class="col-4 p-1">
                {% mini_card story %}
                </div>
                <div class="col-4 p-1">
                {% mini_card story %}
                </div>
                <div class="col-4 p-1">
                {% mini_card story %}
                </div>
              {% endif %}
            {% endfor %}
            </div>
          {% endif %}
        </div>
    </div>
    <div class="col col-lg-3 p-3">
      {% story_sidebar %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">

$(function() {
  $('.image-carousel').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    prevArrow:'<button class="slide-arrow prev-arrow"><i class="fas fa-angle-left"></i>',
    nextArrow:'<button class="slide-arrow next-arrow"><i class="fas fa-angle-right"></i>',
  });
});
</script>

{% endblock %}
