{% extends "base.html" %}
{% load tz %}
{% load static compress %}
{% load news vaquita %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "css/flickity.min.css"%}" media/>
<link rel="stylesheet" href="{% static 'css/xr-blog.css' %}">
{% endblock %}
{% block title %}:: {{page.title}}{% endblock %}
{% block og_title %}{{page.title}}{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="{{page.specific.lede}}" />
{% endblock %}
{% block og_image %}
  {% image page.hero_image fill-1024x576 format-jpeg as oghero %}
  <meta property="og:image" content="https://{{request.get_host}}{{oghero.url}}" />
  <meta property="og:image:alt" content="{{oghero.caption}}" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:height" content="576"/>
  <meta property="og:image:width" content="1024"/>

{% endblock %}
{% block inline_css %}
{{block.super}}
.flickity-prev-next-button.previous {
  left: -20px;
}
.flickity-prev-next-button.next {
  right: -20px;
}
.flickity-button:disabled {
  display: none;
}
{% endblock %}

{% block content %}

<div class="row mx-auto">
    <!-- main content -->
    <div class="col-12 col-lg-7 offset-lg-1 bg-white pb-5" data-column-name="story">
        <div class="pt-3">
            {% if page.hero_image %}
            {% image page.hero_image fill-1280x720 class="hero-image mb-2"%}
            {% endif %}
            <h1 class="mb-1 blog-title">{{page.title}}</h1>
            <div class="blog-byline">By <a href="/news/?author={{page.author_name}}" class="blog-link">{{page.author_name}}</a> | {{page.date}}</div>
            <div class="mt-2">
            <!-- consider a separate grid here with rows for each block -->
            {% for block in page.content %}
              {% include_block block %}
            {% endfor %}
            </div>
            <div class="mt-2 mb-3">
            {% for tag in page.tags.all %}
              <span class="blog-tag ml-0 mr-2 my-1"><a href="{% pageurl page.get_parent %}?tag={{tag}}">{{tag}}</a></span>
            {% endfor %}
            </div>
        </div>
        <!-- sharing links -->
        <div>
          <ul class="list-inline list-unstyled">
            <li class="list-inline-item">
              <span class="text-fucxed d-4">Share</span>
            </li>
            <li class="list-inline-item">
              <a href="{% social_url page.url 'fb' page.title %}" target="_blank" class="social-share">
                  <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{% social_url page.url 'twitter' page.title %}" target="_blank" class="social-share">
                  <i class="fab fa-twitter"></i>
              </a>
            </li>
            
            <li class="list-inline-item">
              <a href="{% social_url page.url 'email' page.title %}" target="_blank" class="social-share">
                  <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
        <hr class="thick mt-3">
        <div class="row blog-sibling">
          <div class="col">
           {% if prevstory %}
           <a href="{% pageurl prevstory %}">
           <i class="fas fa-arrow-alt-circle-left"></i><span class="text-fucxed d-5 ml-1">Previous</span><br>
           <span class="ml-1">{{prevstory.title}}</span>
           </a>
           {% endif %}
          </div>
          <div class="col text-right">
           {% if nextstory %}
           <a href="{% pageurl nextstory %}">
           <span class="text-fucxed d-5">Next</span>
           <i class="fas fa-arrow-alt-circle-right"></i><br>
            <span class="mr-1">{{nextstory.title}}</span>
           </a>
           {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col w-100">
          {% if related %}
            <h5 class="mb-2 mt-4">Related Stories:</h5>
            <div id="related_stories">
            {% for story in related %}
              <div class="carousel-cell" style="width:45%">
              {% include 'news/story_mini_card.html' %}
              </div>
            {% endfor %}
            </div>
          {% endif %}
          </div>
        </div>
    </div>
    <div class="col-12 col-lg-3 py-3 px-0 p-lg-3">
      {% story_sidebar %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<script type="text/javascript" src="{% static "js/flickity.pkgd.min.js" %}"></script>
{% compress js inline %}
<script>
  $(function(){
    let flkty = new Flickity('#related_stories', {
      "cellAlign": "left", 
      "contain": true, 
      "imagesLoaded": true, 
      "pageDots": false, 
      "adaptiveHeight": false
    });
    setTimeout(() => {
      flkty.resize();
    }, 1);
  });
</script>
{% endcompress %}
{% endblock %}
