# Example Mailman config file suitable for testing

#[devmode]
#enabled: yes
#testing: yes
#recipient: dave@st.germa.in

[mta]
incoming: mailman.mta.postfix.LMTP
outgoing: mailman.mta.deliver.deliver
lmtp_host: 127.0.0.1
lmtp_port: 8024
smtp_host: localhost
smtp_port: 25
configuration: python:mailman.config.postfix

[webservice]
port: 9001

[archiver.mhonarc]
enable: no

[archiver.mail_archive]
enable: no

[archiver.prototype]
enable: no
