django
wiki
-e git+https://github.com/davestgermain/Django-CRM@344a4adb6f4a83c9d600aaf6f32a9d350c49a0a8#egg=django_crm
boto3
lxml
openpyxl
gunicorn
requests
ipython
django-markdownx
django-simple-pagination
django-compressor
phonenumbers
sorl-thumbnail
django-phonenumber-field
cssselect
django-storages
celery
