{% extends 'base.html' %}
{% block content %}
<div class="row p-4">
  <div class="col-6 offset-3">
      <h2 class="text-center">Forgot Password</h2>
    <form method="post">
      <div class="form-group">
        <input type="email" required class="form-control" id="exampleinputmail" placeholder="Email" name="email" value="{{request.POST.email}}">
      </div>
      <span class="error">{{ form.email.errors }}</span>
      {% csrf_token %}
      <center><button type="submit" class="btn btn-danger">Submit</button></center>
      <div class="col-sm-10 form-group text-center forgot" style="margin-top: 10px;">
        Already Have An Account? <a href="{% url 'login' %}">Login</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}