{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="banner position-relative w-100">
		<img class="img-fluid w-100" src="{% static 'images/seaport-banner.jpg' %}" alt="Extinction Rebellion Massachusetts" />
		<div class="banner-title text-uppercase">Join us</div>
	</div>
</div>
  
<div class="row py-5 bg-white">
	<div class="col-12 col-text">
		<p>We need you – whoever you are, however much time you have – to help build a powerful movement.<br>
		Our vision of change involves mass participation. Together we’re unstoppable.</p>
<p>Follow these simple steps to find the information you need to get involved with Extinction Rebellion.</p>
	</div>
</div>

<div class="row justify-content-center pt-3 xr-bg-gray">
	<div class="col-4 col-md-2 pr-0 bg-white">
		<h1 class="display-1 py-4 p-md-4">01</h1>
	</div>
	<div class="col col-lg-8 pl-0 bg-white p-lg-3">
	  <div class="py-4">
		<h2>Sign up for our Mailing List</h2>
		<p>Receive updates on all our upcoming actions, community meetings and other events.</p>
		<p><a href="{% url 'extinctionr.info:page' page='join-mailing-list' %}" class="btn btn-lg btn-primary text-uppercase">Add Your Name</a></p>
	  </div>
	</div>
</div>
  
<div class="row justify-content-center pt-3 xr-bg-gray">
	<div class="col-4 col-md-2 pr-0 bg-white">
		<h1 class="display-1 py-4 pr-0 p-md-4">02</h1>
	</div>
	<div class="col col-lg-8 pl-0 bg-white p-lg-3">
	  <div class="py-4">
		<h2>Watch the 'Heading for Extinction' talk</h2>
		<p>Find out the truth about the ecological crisis and what we can do about it.</p>
		<p><a href="/action/?tag=talk" class="btn btn-lg btn-primary text-uppercase">Upcoming talks</a></p>
		<p><a href="https://www.youtube.com/watch?v=b2VkC4SnwY0" class="btn btn-lg btn-primary text-uppercase">Watch online</a></p>
		<p><a href="/talk" class="btn btn-lg btn-primary text-uppercase">Request a talk</a>
	  </div>
	</div>
</div>

<div class="row justify-content-center pt-3 xr-bg-gray">
	<div class="col-4 col-md-2 pr-0 bg-white">
		<h1 class="display-1 py-4 p-md-4">03</h1>
	</div>
	<div class="col col-lg-8 pl-0 bg-white p-lg-3">
		<div class="py-4">
		<h2>Learn about Exitinction Rebellion</h2>
			<p>Learn our principles and values, what we mean by non-violent direct action, and how you can get involved.</p>
		<p><a href="/welcome/pitch" class="btn btn-lg btn-primary text-uppercase">Principles and values</a></p>
		<!--
			not ready yet...
		<p><a href="/docs/xr101" class="btn btn-lg btn-primary text-uppercase">Download the Rebel Starter Pack</a></p>
	-->
		<p><a href="/action/?tag=orientation" class="btn btn-lg btn-primary text-uppercase">Upcoming orientations</a></p>
		</div>
	</div>
</div>

<div class="row justify-content-center py-3 xr-bg-gray">
	<div class="col-4 col-md-2 pr-0 bg-white">
		<h1 class="display-1 py-4 p-md-4">04</h1>
	</div>
	<div class="col col-lg-8 pl-0 bg-white p-lg-3">
	  <div class="py-4">
		<h2>Attend an NVDA training</h2>
		<p>While not everyone needs to risk arrest, we do want everyone to know how to engage in peaceful protest and encourage everyone to join a Non-violent Direct Action Training.
		</p>
		<p><a href="/action/?tag=nvda" class="btn btn-lg btn-primary text-uppercase">Upcoming NVDA trainings</a></p>
	  </div>
	</div>
</div>

{% endblock %}