{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}

{% block content %}
<div class="row pt-5">
	<div class="col-text">
		<h1 class="xr-green text-center">Welcome to the Rebellion</h1>
		<p class="lead text-center">We need you – whoever you are, however much time you have – to help build a powerful movement.<br>
		Our vision of change involves mass participation. Together we’re unstoppable.</p>
<p class="text-center">Follow these simple steps to find the information you need to get involved with Extinction Rebellion.</p>
	</div>
</div>
<div class="row border-bottom py-3 mt-4">
	<div class="col-3 text-center">
		<h1 class="display-1">01</h1>
	</div>
	<div class="col">
		<h2 class="border-bottom">Sign up for our Mailing List</h2>
		<p><a href="{% url 'extinctionr.info:page' page='join-mailing-list' %}" class="btn btn-lg btn-primary text-uppercase">Join Now</a></p>
	</div>
</div>
<div class="row border-bottom py-3">
	<div class="col-3 text-center">
		<h1 class="display-1">02</h1>
	</div>
	<div class="col">
		<h2 class="border-bottom">Watch the 'Heading for Extinction' talk</h2>
		<p>What is the truth about the ecological crisis? And what can we do about it?</p>
		<p><a href="/action/?tag=talk" class="btn btn-lg btn-primary text-uppercase">Upcoming talks</a></p>
		<p><a href="https://www.youtube.com/watch?v=b2VkC4SnwY0" class="btn btn-lg btn-primary text-uppercase">Watch online</a></p>
		<p><a href="/talk" class="btn btn-lg btn-primary text-uppercase">Request a talk</a>
	</div>
</div>
<div class="row border-bottom py-3">
	<div class="col-3 text-center">
		<h1 class="display-1">03</h1>
	</div>
	<div class="col">
		<h2 class="border-bottom">Learn about extinction rebellion</h2>
		<p><a href="/welcome/pitch" class="btn btn-lg btn-primary text-uppercase">Principles and values</a></p>
		<!--
			not ready yet...
		<p><a href="/docs/xr101" class="btn btn-lg btn-primary text-uppercase">Download the Rebel Starter Pack</a></p>
	-->
		<p><a href="/action/?tag=orientation" class="btn btn-lg btn-primary text-uppercase">Upcoming orientation sessions</a></p>
	</div>
</div>
<div class="row border-bottom py-3">
	<div class="col-3 text-center">
		<h1 class="display-1">04</h1>
	</div>
	<div class="col">
		<h2 class="border-bottom">Attend an NVDA training</h2>
		<p>While not everyone needs to risk arrest, we do want everyone to know how to engage in peaceful protest and encourage everyone to join a Non-violent Direct Action Training.
		</p>
		<p><a href="/action/?tag=nvda" class="btn btn-lg btn-primary text-uppercase">Upcoming NVDA trainings</a></p>
	</div>
</div>
{% endblock %}