{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}

{% block content %}
<div class="row pt-5">
	<div class="col-text">
		<h1 class="xr-green text-center">Welcome to the Rebellion</h1>
		<p class="lead text-center">We need you – whoever you are, however much time you have – to help build a powerful movement.<br>
		Our vision of change involves mass participation. Together we’re unstoppable.</p>
<p class="text-center">Follow these simple steps to find the information you need to get involved with Extinction Rebellion.</p>
	</div>
</div>
<div class="row border-bottom py-3 mt-4">
	<div class="col-3 text-center">
		<h1 class="display-1">01</h1>
	</div>
	<div class="col">
		<h2 class="border-bottom">Watch the 'Heading for Extinction' talk</h2>
		<p>What is the truth about the ecological crisis? And what can we do about it?</p>
		<p><a href="/action/?tag=talk">Upcoming XR Massachusetts talks</a></p>
		<p><a href="https://www.youtube.com/watch?v=b2VkC4SnwY0">Watch online</a></p>
		<p><a href="/talk">Request a talk in your area</a>
	</div>
</div>
<div class="row border-bottom py-3">
	<div class="col-3 text-center">
		<h1 class="display-1">02</h1>
	</div>
	<div class="col">
		<h2 class="border-bottom">learn about extinction rebellion</h2>
		<p>What are the principles and values of Extinction Rebellion?<br>
What do we mean by Non-Violent Direct Action?<br>
How can you get involved?</p>
	</div>
</div>
<div class="row border-bottom py-3">
	<div class="col-3 text-center">
		<h1 class="display-1">03</h1>
	</div>
	<div class="col">
		<h2 class="border-bottom">Sign up to get involved</h2>
		<p class="display-3">
			<a href="/welcome/signup">Sign up to get involved</a>
		</p>
	</div>
</div>
{% endblock %}