{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}

{% block inline_css %}
{{block.super}}

.fac-checkbox label,
.form-group label {
	font-size: .9em;
    font-family: FucXed, sans-serif;
}
hr.pink {
	border-bottom: 2px solid rgb(237,155,196);
}
.big-label {
	font-size: 1.2em;
}
.volunteer-callout {
/*	background-color: rgb(237,155,196); */
	background-color: rgb(117, 208, 241);
}

{% endblock %}
{% block content %}
<div class="row">
	<div class="banner position-relative w-100">
		<img class="img-fluid w-100" src="{% static 'images/banner-volunteer.jpg' %}" alt="Extinction Rebellion Massachusetts" />
		<div class="banner-title text-uppercase">JOIN US</div>
	</div>
</div>
  
<div class="row px-2 pt-lg-5 py-3 bg-white">
	<div class="col-8 col-text offset-lg-2">
		<p>Add your name to receive our weekly email newsletter to find out about upcoming actions, community meetings and other events.</p>
	</div>
</div>
<div class="row justify-content-center pb-2 bg-white">
	<div class="col-md-8 bg-white">
	<form action="{% url 'extinctionr.info:join' %}" method="post">
		{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="{{form.first_name.id_for_label}}">First name</label>
				{{form.first_name}}
				<div class="text-danger">{{form.first_name.errors}}</div>
			</div>
			<div class="form-group col-md-6">
				<label for="{{form.last_name.id_for_label}}">Last name</label>
				{{form.last_name}}
				<div class="text-danger">{{form.last_name.errors}}</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="{{form.email.id_for_label}}">Email</label>
				{{form.email}}
				<div class="text-danger">{{form.email.errors}}</div>
			</div>
				<div class="form-group col-md-4">
				<label for="{{form.phone.id_for_label}}">Phone</label>
				{{form.phone}}
				<div class="text-danger">{{form.phone.errors}}</div>
			</div>
			<div class="form-group col-md-4">
				<label for="{{form.zipcode.id_for_label}}">Zipcode</label>
				{{form.zipcode}}
				<div class="text-danger">{{form.zipcode.errors}}</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-12 text-center volunteer-callout px-2 pt-1">
				{{form.volunteer}}
				<label for="{{form.volunteer.id_for_label}}">
					This is an emergency! I want to get involved with the rebellion!
				</label>
			</div>
		</div>
		<div id="volunteer_form" class="collapse">
			<hr class="pink">
			<div class="form-group row">
				<div class="col-12">
					<label for="{{form.skills.id_for_label}}">Skills and interests</label>
				</div>
			</div>
			<div id="id_skills" class="ml-3 form-group row">
				{% for pk, choice in form.skills.field.widget.choices %}
				<div id="id_skills" class="col-md-4">
					<label for="id_skills_{{forloop.counter0}}">
						<input type="checkbox" id="id_skills_{{ forloop.counter0 }}" value="{{ pk }}" name="skills" />
						{{choice}}
					</label>
					{% if forloop.counter|divisibleby:3 %}
						<div class="col-12"></div>
					{% endif %}
				</div>
				{% endfor %}
				<div id="id_skill_other" class="form-group col-md-4">
					<div class="row">
						<div class="col-1">
						{{form.skill_other}}
						</div>
						<div class="col ml-md-2 pl-0">
						{{form.skill_other_value}}
						</div>
					</div>
				</div>
			</div>
			<hr class="pink">
			<div class="form-row">
				<div class="form-group col">
					<label for="{{form.anything_else.id_for_label}}">Anything else (optional)?</label>
					{{form.anything_else}}
					<div class="text-danger">{{form.anything_else.errors}}</div>
				</div>
				{{form.message}}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-12 text-center mt-2 pt-2">
				<input class="btn btn-lg btn-primary text-uppercase" type="submit" value="Sign me up!">
			</div>
		</div>
	</form>
	</div>
	<div class="col-12 my-2 text-center">
		<img src="{% static 'images/symbols/swallow_small.png' %}" width="128px">
	</div>
</div>
  
{% endblock %}