{% extends "base.html" %}
{% load static %}
{% block title %}:: About Us{% endblock %}
{% block og_tags %}
{% endblock %}

{% block content %}
<div class="row p-5">
    <div class="col-text">
        <h1 class="xr-green text-center">Welcome to the Rebellion</h1>
        <p class="lead">Despite years of environmental campaigning, our governments have not stopped a massive rise in carbon entering the atmosphere, nor averted mass extinction due to pollution and habitat destruction. It is time to rebel. It is still possible to create a sustainable society, and a more beautiful world for generations to come – but we must act now. This is what Extinction Rebellion was set up to do: bring about mass participation in creative, non-violent civil disobedience to rebel against governments all around the world. 
        </p>
        <p>We demand that the authorities:</p>
        <ol>
            <li>tell the truth on ecological breakdown and the climate crisis</li>
            <li>halt biodiversity loss & net carbon emissions by 2025, reduce consumption to sustainable levels</li>
            <li>set up national people’s assembly to guide the government’s response to the crisis</li>
            <li>carry out a just transition that establishes remediation and reparations led by and for communities suffering years of environmental injustice</li>
        </ol>
        <p>You can read the full <a href="https://extinctionrebellion.us/demands">XR US demands here</a>. Whatever our politics, we are conscientious protectors of life, rebels against extinction. History shows us that mobilizing for non-violent disobedience is a reliable way to achieve change, while our present moment calls us to collectively create meaning for our lives in our mission to protect what we love.</p>
        <p>Anyone who follows our core principles and values can take action in the name of XR:</p>
        <ol>
            <li><strong>We have a shared vision of change.</strong><br>
            Creating a world that is fit for generations to come.
            </li>
            <li><strong>We set our mission on what is necessary. </strong><br>
            Mobilizing 3.5% of the population to achieve system change.
            </li>
            <li><strong>We need a regenerative culture.</strong><br>
            Creating a culture that is healthy, resilient, and adaptable.
            </li>
            <li><strong>We openly challenge ourselves and this toxic system.</strong><br>
            Leaving our comfort zones to take action for change.
            </li>
            <li><strong>We value reflecting and learning.</strong><br>
            Following a cycle of action, reflection, learning, and planning for more action.<br>
            Learning from other movements and contexts, as well as our own experiences.
            </li>
            <li><strong>We welcome everyone and every part of everyone.</strong><br>
            Working actively to create safer and more accessible spaces.
            </li>
            <li><strong>We actively mitigate for power.</strong><br>
            Breaking down hierarchies of power for more equitable participation.
            </li>
            <li><strong>We avoid blaming and shaming.</strong><br>
            We live in a toxic system, but no one individual is to blame.
            </li>
            <li><strong>We are a non-violent network.</strong><br>
            Using non-violent strategies and tactics as the most effective way to bring about change.
            </li>
            <li><strong>We are based on autonomy and decentralization.</strong><br>
            We collectively create the structures we need to challenge power.
            </li>
        </ol>
        <p>XR’s mission is to spark and sustain a spirit of creative rebellion, which will enable much needed changes in our political, economic and social landscape. We endeavour to mobilize and train organizers to skillfully open up space, so that communities can develop the tools they need to address the United States’ deeply rooted problems. We work to transform our society into one that is compassionate, inclusive, sustainable, equitable and connected.</p>
        <h2>Underlying Principles of XR Actions</h2>
        <p>We are a mass movement of non-violent civil disobedience. Our actions can be broken down into three types of action. Most of our protests will achieve all 3 at some level, but are often organised to focus on one:</p>
            <ol>
                <li><strong>Disruption,</strong> to create disruption through mass civil disobedience, towards achieving our demands.</li>
                <li><strong>Outreach,</strong> to tell the public the truth, and bring people together, at the protest, or through media.</li>
                <li><strong>Visioning,</strong> demonstrating the future we want to see through beautiful and creative actions.</li>
            </ol>
        <blockquote class="blockquote font-italic">Through our actions we will try to outreach to new groups, create mass economic disruption, and vision the future we want to see in the world. Some actions will be aimed at one or two of these outcomes, and some at all three. Different kinds of civil disobedience will be designed to appeal to a wide range of people, especially families and youth. All these actions will be optimised to take into account regenerative cycles of rest and action.</blockquote>
        <footer class="blockquote-footer">Extinction Rebellion Strategy, February 2019</footer>
<hr>
<h3>Non-Violence</h3>
<p>Non-violence is a method of bringing about progressive social change through causing disruption such as blocking roads, and engaging in sacrifice such as getting arrested and going to prison. This action never involves any physical violence and importantly also involves showing respect to an opponent so as to make it easier to maintain a human connection and thus make a resolution of the political conflict more likely. Non-violence then is a tactic and it has been shown to be more effective than either conventional campaigning (petitions, lobbying) or violence in bringing about sustained radical change in society. </p>

<h3>Direct Action</h3>
<p>As Frederick Douglass said, “power concedes nothing without a demand.” Malcolm X elaborated, “Power never takes a step back, except in the face of more power.” Rather than deferring to others to make changes for us through votes or lobbying, we seek to change the dynamics of power directly. “While associated with confrontation, direct action at its core is about power. Smart direct action assesses power dynamics and finds a way to shift them.” (Beautiful Trouble)</p>

<p>This is the aim of XR actions. We create “dilemma actions” which mean we move towards our objectives whether the state allow illegal activity to continue or if they opt for arrests. We therefore use existing power dynamics against themselves. If the authorities allow us to continue we gain positive publicity. If they opt for arresting people then they risk a “backfiring effect” whereby people who watch the arrests are compelled by the courage and sacrifice of those engaging in nonviolent action to go and join them. </p>

<h3>Disruption</h3>
<p>Disruption works. Especially if it is clear there is a threat of continued disruption which could lead to economic or social unrest. The authorities may have to choose whether to meet and discuss your demands or allow you to continue with disruption. Extinction Rebellion have learnt ways to create disruption which carry a very low criminal charge but create a high amount of disruption. </p>

<h3>Rebellion</h3>
<p>This is not a protest march, or a small number of people taking direct action against one target, this is a rebellion. That means it’s ongoing, its demands are aimed at governments, and its disruption and actions are widespread. It targets a change in the system; it does not attack individuals.</p>

<h3>Building a Mass Movement</h3>
<p>Extinction Rebellion is an actions-based movement. This strategy follows the theory that actions build movements. While we recognise the importance of organising and developing broad-based support through decentralised campaigning rooted in communities, our goal is acts of mass participation civil disobedience. This will best be achieved through the practice of organising and implementing civil disobedience in the build-up to significant dates. The way to mobilise people is to take direct action and the public drama this creates brings more people into the movement. Both action and mobilisation have to happen together. Once actions reach a tipping point they may gain the credibility which bring ever more people in to join them. This often happens when authorities try to repress them through arrest and jail. Such sacrifices can then help a movement to grow. Extinction Rebellion is a system, finding ways to change a system.</p>

<hr>
<p>Read more about our founding at the <a href="https://rebellion.earth/the-truth/about-us/">Extinction Rebellion UK site</a></p>
<p class="text-center">or</p>
<p class="display-4 text-center"><a href="/welcome/" class="btn btn-lg btn-primary text-uppercase">Join Now</a></p>
    </div>
</div>

{% endblock %}