{% extends "base.html" %}
{% block title %}:: Volunteer for Extinction Rebellion Massachusetts!{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="Here are the ways you can sign on to the Rebellion in Massachusetts" />
{% endblock %}

{% block content %}
<div class="row pt-5">
	<div class="col-text">
		<h1 class="text-center xr-green">Volunteer for XR Mass</h1>
		<p class="lead">Thank you for your interest in Extinction Rebellion! Help us demand climate justice and the rapid phaseout of fossil fuels. We are excited to be building the Massachusetts chapter of this worldwide rebellion.</p>

		<p class="lead">Please use this form to tell us more about yourself. We will share your information with the coordinator of the working group you sign up for below. All information collected through this form is for internal organizational use only.</p>

		<form action="/circle/person/join/" method="post">
			<div class="form-group row">
				<label for="{{form.email.id_for_label}}" class="d-none d-sm-block col-5 text-right">Email:</label>
				<div class="col">
					{{form.email}}
					<div class="text-danger">{{form.email.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.first_name.id_for_label}}" class="d-none d-sm-block col-5 text-right">First Name:</label>
				<div class="col">
					{{form.first_name}}
					<div class="text-danger">{{form.first_name.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.last_name.id_for_label}}" class="d-none d-sm-block col-5 text-right">Last Name:</label>
				<div class="col">
					{{form.last_name}}
					<div class="text-danger">{{form.last_name.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.phone.id_for_label}}" class="d-none d-sm-block col-5 text-right">Phone Number:</label>
				<div class="col">
					{{form.phone}}
					<div class="text-danger">{{form.phone.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.zipcode.id_for_label}}" class="d-none d-sm-block col-5 text-right">Zip Code:</label>
				<div class="col">
					{{form.zipcode}}
					<div class="text-danger">{{form.zipcode.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.interests.id_for_label}}" class="d-none d-sm-block col-5 text-right">Please tell us a little about yourself</label>
				<div class="col">
					{{form.interests}}
					<div class="text-danger">{{form.interests.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.other_groups.id_for_label}}" class="d-none d-sm-block col-5 text-right">Are you affiliated with any other groups?</label>
				<div class="col">
					{{form.other_groups}}
					<div class="text-danger">{{form.other_groups.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.working_group.id_for_label}}" class="col-5 text-right">
					Choose a primary working group<br>
					We will provide your information to the coordinators of all working groups you select below. Consider your primary working group a starting place.<br>This is not a permanent decision.
				</label>
				<div class="col">
					{% for radio in form.working_group %}
					<div class="row">
				        <div class="col-1">{{ radio.tag }}</div>
					    <label for="{{ radio.id_for_label }}" class="col">
					        {{ radio.choice_label|safe }}
					    </label>
				    </div>
					{% endfor %}
					<div class="text-danger">{{form.working_group.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.committment.id_for_label}}" class="col-5 text-right">How often would you like to volunteer?</label>
				<div class="col">
					{{form.committment}}
					<div class="text-danger">{{form.committment.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.anything_else.id_for_label}}" class="d-none d-sm-block col-5 text-right">Is there anything else you would like us to know?</label>
				<div class="col">
					{{form.anything_else}}
					<div class="text-danger">{{form.anything_else.errors}}</div>
				</div>
			</div>
			<div class="form-group row mt-4 pt-4">
				<div class="col text-center">
					<input class="btn btn-fucxed btn-lg btn-block btn-outline-dark btn-success text-uppercase" type="submit" value="Sign me up!">
				</div>
			</div>
		</form>

	</div>
</div>
{% endblock %}