{% extends "base.html" %}
{% block title %}:: Boston Globe Campaign{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="Extinction Rebellion calls upon the Boston Globe to sound the alarm on the climate crisis!" />
{% endblock %}
{% block content %}
<div class="row pt-5">
    <div class="col-text">
        <h1 class="text-center">Boston Globe Campaign</h1>
        <p>
            On April 17, 2019, Extinction Rebellion Massachusetts <a href="/action/ring-the-alarm/">demonstrated at the Boston Globe</a>, urging them to tell the truth about the climate and ecological crisis we face. 
        </p>
        <ul class="list-unstyled">
            <li>For background, read <a href="/boston-globe/analysis">our analysis of the Globe's climate coverage</a></li>
            <li><a href="/boston-globe/oped">Read and sign on to our call to action</a>, which was also published in <a href="https://digboston.com/global-warming-needs-front-page-coverage/">Dig Boston</a></li>
            <li>Read our <a href="/pr/breaking-globe-release">press release about the call to action</a> and compare it with <a href="https://www.bostonglobe.com/metro/2019/04/17/group-calls-for-globe-take-leadership-its-coverage-climate-crisis/j6PXdElFDLqxhANhSFnfIJ/story.html">the Globe's coverage of the event</a> (they did not send a reporter downstairs to report on our demonstration in their building)</li>
            <li>Finally, we ask you to <a href="/boston-globe/plan">demand that the Boston Globe take this issue seriously</a></li>
        </ul>
    </div>
</div>
{% endblock %}