{% extends "base.html" %}
{% block title %}:: Enlisting The Boston Globe{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="Extinction Rebellion urges the Boston Globe to declare climate emergency." />
{% endblock %}

{% block content %}
<div class="row pt-5">
	<div class="col-text">
		<h1 class="text-center">Enlisting The Boston Globe</h1>
<hr>
<section>
	<p>See our <a href="/boston-globe/">Boston Globe Campaign</a> page for complete information on the background for our action, coverage, and what else you can do to help.</p>
	<hr>
<a name="oped"></a>
<h3 class="xr-green">Extinction Rebellion urges the Boston Globe to declare climate emergency</h3>
<div class="lead font-italic">By Nick Bain, Galen Hall, Molly Niedbala, David St. Germain, and Niels Burger: members of Extinction Rebellion Massachusetts</div>
<h5 class="text-right">April 17, 2019</h5>

<p>For society to undergo the drastic, transformational change required to save our species, respected media like the Boston Globe should lead in communicating the existential risks of climate damage. The Extinction Rebellion is an international mobilization whose first demand is that governments and media tell the truth about the climate emergency.</p>

<p>Today, more than <a href="http://climatecommunication.yale.edu/visualizations-data/ycom-us-2018/?est=human&type=value&geo=county&id=25025">one in three people</a> in the Boston Metro area remain unaware of the <a href="/why">basic fact that humans are causing global warming</a>. Our house is on fire; the media’s first challenge is simply to wake everyone up to this fact. The greater challenge lies in fully communicating how many lives and species we have already lost through inaction, and in accurately conveying the subtle scientific concepts that explain why our trajectory puts life and humanity at risk.</p>

<p>The truth is that governments’ long-standing inaction and obstruction on the climate crisis is potentially the most far-reaching human rights abuse ever committed. Reporting on this crime requires courage to “expose the truth, even in defiance of powerful interests”. This goal, from the Boston Globe’s own mission statement, is one that the paper’s history lives up to. The Globe has exposed horrific human rights abuses, from violence against journalists to the sexual abuse of children by the Catholic Church.</p>

<p>Yet there is more the Globe can do to communicate the urgency of the existential challenge we face. We read poignant columns by Globe staff who understand and grieve for the state of our struggling  world, and wonder why the climate emergency is not front page news every single day. New developments in the climate crisis deserve more attention than our state’s <a href="https://www.bostonglobe.com/news/marijuana">burgeoning marijuana industry</a>. The narrative of this crisis &mdash; complete with <a href="https://www.opensecrets.org/industries/indus.php?ind=E01">corrupt politicians</a> and <a href="https://littlesis.org/maps/1634-who-s-banking-on-the-dakota-access-pipeline?Resistance_to_Dakota_Access_Grows">shadowy networks</a> <a href="https://www.nytimes.com/interactive/2018/08/01/magazine/climate-change-losing-earth.html">obstructing progress</a> &mdash; is one that the Globe’s readers want and need to hear.</p>

<p>The Globe should devote more space and effort toward informing the public of the urgency of the ecological crisis shaping the future of our commonwealth. Their already-impressive coverage, by reporters like David Abel and Beth Daley, deserves more prominence. Now is not the time to bury the lede by treating climate change as just another issue in today's current events.</p>

<p>Extinction Rebellion Massachusetts has sent The Globe several requests to meet with Editor Brian McGrory and discuss how the Globe’s editorial policy and priorities can inform the public at the scale required. Since we have heard no response yet, we will present a call to action to the Globe in person on Wednesday.</p>

<p>We do not blame the Globe for shortcomings that are pervasive in much of the media and government. Because of the systemic nature of the climate and ecological crises, we need systemic change to address them. However, systemic change only comes when people are brave enough to push for it, as the Globe has done before. For the launch of the International Rebellion this week, chapters around the world are asking their local media to measure up to what the truth demands. We urge the Globe to lead this effort and treat this emergency as the cover story it is.</p>

<p>That said, given the urgency of this crisis, we cannot rely solely on traditional media to get the truth out. In the words of Nobel Peace Prize nominee Greta Thunberg, <a href="https://twitter.com/gretathunberg/status/1069877730055995392?lang=en">“we have not come here to beg.”</a> We are giving <a href="/talk">public talks</a> around Massachusetts to communicate the scientific facts, the risks we face, as well as opportunities to act. You can hear one such talk at 7pm on <a href="/action/xr-talk-4-19/">Friday April 19th at the Boston Community Church</a>.</p>

<p>We invite you, and the Boston Globe, to <a href="/join" class="display-4">join us</a>.</p>
</section>
<hr>
<section>
<a name="cta"></a>

<h2 class="text-uppercase text-center mt-3">Call To Action</h2>
		<p class="lead">
			We call on the Boston Globe:
		</p>
		<ol>
<li>The Boston Globe declares a climate and ecological emergency.</li>

<li>The Boston Globe places the climate emergency as its top editorial and corporate priority by adopting a climate emergency strategic plan, at the level of urgency placed on informing the public about the Second World War.</li>

<li>The Boston Globe ensures that articles accurately represent the scientific consensus on the climate crisis and its impacts on life. The Globe scrutinizes public policy for its consistency with the scientific consensus and the scale of action required.</li>

<li>The Boston Globe devotes frontpage prominence to regional environmental issues, including protests, advocacy, conservation and regeneration efforts &mdash; especially those with direct impacts on Indigenous, Black, POC, and poor communities.</li>

<li>The Boston Globe collaborate with its staff’s labor unions to divest any pension funds and investments in fossil fuel corporations and their bankers. The Globe discloses any funding from these entities, including advertising income.</li>

<li>The Boston Globe, its subsidiaries, and its supply chain agree to be carbon neutral by 2025.</li>

<li>The Boston Globe takes the lead on encouraging other local, national and global media corporations to join the global efforts to save humanity and the natural world from this existential crisis.</li>

<li>Extinction Rebellion Massachusetts requests a meeting with Brian McGrory, editor of the Globe, and John Henry, principal owner of the Globe, to discuss our call to action and how the Boston Globe can expose the truth about the climate and ecological emergency.</li>

</ol>
</section>
	</div>
</div>

<a name="sign"></a>
<section id="signatures" hidden>
	<div class="row mt-4">
		<div class="col text-center">
			<hr>
			<h4>Signatories</h4>
		</div>
	</div>
	<div class="row pt-2 small text-center" id="signees">
			<!-- this will be dynamically filled in -->
	</div>
</section>
<hr>
<section>
<div class="row">
	<div class="col-text text-center" id="signup_form">
		<h1 class="text-center">Sign on</h1>

		<form action="{% url 'extinctionr.actions:action' slug='boston-globe' %}" class="container" method="post">
			{% csrf_token %}
			<input type="hidden" name="next" value="/boston-globe">
			<!-- <input type="hidden" name="role" value="agree"> -->
			<div class="form-group row">
				<label for="signup_email" class="d-none col-2 offset-lg-3 offset-sm-1">Email:</label>
				<div class="col-10 offset-1 offset-lg-3 col-lg-6">
					<input type="email" name="email" id="signup_email" class="form-control" required placeholder="Email Address">
				</div>
			</div>
			<div class="form-group row">
				<label for="signup_name" class="d-none col-2 offset-lg-3 offset-sm-1">Name:</label>
				<div class="col-10 offset-1 offset-lg-3 col-lg-6">
					<input type="text" name="name" id="signup_name" class="form-control" required placeholder="Your Name">
				</div>
			</div>
			<div class="form-group row">
				<label for="signup_notes" class="d-none col-2 offset-lg-3 offset-sm-1">Title:</label>
				<div class="col-10 offset-1 offset-lg-3 col-lg-6">
					<input type="text" name="notes" id="signup_notes" class="form-control" placeholder="Your title (optional)">
				</div>
			</div>

			<div class="form-group row mt-4 pt-2">
				<div class="col-10 offset-1 offset-lg-3 col-lg-6">
					<input class="btn btn-block btn-fucxed btn-lg btn-outline-dark btn-success text-uppercase" type="submit" value="I agree">
				</div>
			</div>
		</form>
	</div>
</div>
</section>
{% endblock %}
{% block extra_js %}
<script>
	$('#signees').ready(function(){
		$.get("{% url 'extinctionr.actions:attendees' action_slug='boston-globe' %}?fmt=html", function(data){
			$('#signees').html(data);
			if (data != '') {
				$('#signatures').removeAttr('hidden');

			}
		});
	});
</script>
{% endblock %}