{% extends "base.html" %}
{% block title %}:: Boston Globe Action Plan{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="Help Extinction Rebellion call upon the Boston Globe to sound the alarm on the climate crisis!" />
{% endblock %}
{% block content %}
<section class="row pt-5">
    <div class="col-text">
        <h1 class="text-center">Boston Globe Action Plan</h1>
        <p>Want to help us <a href="/boston-globe/oped">call upon the Globe</a> to <a href="/action/ring-the-alarm/">sound the alarm</a> on the climate crisis? Through email (<a href="mailto:mcgrory@globe.com">mcgrory@globe.com</a>) and phone (<a href="tel:6179293059">617-929-3059</a>), tell Globe editor Brian McGrory our call to action, and tip him off to these facts and resources on the climate crisis:</p>
        <p><em>Our governments have failed us:</em></p>
        <ul>
            <li>Even if countries hold to their Paris agreement pledges, temperatures this century will rise to 2.6–3.1°C (4.7-5.6°F) above pre-industrial conditions<sup><a href="#ref1">1</a></sup>, far above the 2°C  (3.6°F) limit laid out in the agreement. Consider that this agreement contains no reference to ‘coal’, ‘oil’, ‘fossil fuel’ or ‘carbon dioxide’, nor to the words ‘zero’, ‘ban’, ‘prohibit’, or ‘stop’<sup><a href="#ref2">2</a></sup>: clearly governments are not owning up to the scale of the crisis.</li>
            <li>The  United Nations Intergovernmental Panel on Climate Change is conservative, omitting “key ‘long-term’ feedbacks that a rise in the planet’s temperature can trigger<sup><a href="#ref3">3</a></sup>”</li>
            <li>The world's five largest publicly owned oil and gas companies annually spend about $200 million on lobbying designed to control, delay, or block binding climate policy<sup><a href="#ref4">4</a></sup>.</li>
        </ul>
        <p><em>Inaction on the climate crisis is an extensive human rights abuse:</em></p>
        <ul>
            <li>The World Health Organization finds that 7.3 million deaths a year are caused by indoor and outdoor air pollution combined<sup><a href="#ref5">5</a></sup>.</li>
            <li>A record number of environmentalists, mostly indigenous people, were killed in 2017. More than four activists were killed on average each week, and the number is likely larger due to undocumented murders<sup><a href="#ref6">6</a></sup>.</li>
            <li>On average, 26 million people are now displaced by disasters such as floods and storms every year, three to ten times more people than conflict and war worldwide<sup><a href="#ref7">7</a></sup> . The number of environmental migrants is expected to reach 200 million by 2050, and could reach as high as 1 billion<sup><a href="#ref8">8</a></sup>.</li>
            <li>United Nations committees that monitor the implementation of legally binding treaties on human rights find that “human rights obligations require States to address their contribution to climate change, including in relation to their domestic emissions or to their exports of fossil fuels<sup><a href="#ref9">9</a></sup>.”</li>
        </ul>
    </div>
</section>

<section class="row pt-4">
    <div class="col">
        <hr>
        <h4 class="pt-4">citations</h4>
        <ol style="font-size:1rem">
            <li><a name="ref1"></a>Rogelj et al., 2016: <a href="https://www.nature.com/articles/nature18307">Paris Agreement climate proposals need a boost to keep warming well below 2°C.</a> Nature.</li>
            <li><a name="ref2"></a>As noted in Spratt & Dunlop, 2018: <a href="http://climateextremes.org.au/wp-content/uploads/2018/08/What-Lies-Beneath-V3-LR-Blank5b15d.pdf"><em>What lies beneath</em></a>: the understatement of existential risk. The original text of the Paris Agreement can be found here.
</li>
            <li><a name="ref3"></a><a href="http://climateextremes.org.au/wp-content/uploads/2018/08/What-Lies-Beneath-V3-LR-Blank5b15d.pdf">What lies beneath: the understatement of existential risk</a> (Spratt & Dunlop, 2018)
</li>
            <li><a name="ref4"></a><a href="https://influencemap.org/report/How-Big-Oil-Continues-to-Oppose-the-Paris-Agreement-38212275958aa21196dae3b76220bddc">Big Oil’s Real Agenda on Climate Change</a> (InfluenceMap, March 2019):
</li>
            <li><a name="ref5"></a><a href="https://www.who.int/news-room/fact-sheets/detail/climate-change-and-health">Climate Change and Health</a> (World Health Organization, Feb 1 2018)
</li>
            <li><a name="ref6"></a><a href="https://www.nationalgeographic.com/environment/2018/07/environmental-defenders-death-report/">Why 2017 Was the Deadliest Year for Environmental Activists</a> (National Geographic, July 24 2018).
</li>
            <li><a name="ref7"></a><a href="https://www.nrc.no/what-we-do/speaking-up-for-rights/climate-change/">Disaster and climate change</a> (Norwegian Refugee Council,)
</li>
            <li><a name="ref8"></a><a href="https://www.iom.int/complex-nexus#estimates">A Complex Nexus</a> (UN International Organization for Migration)
</li>
            <li><a name="ref9"></a><a href="https://www.ciel.org/reports/states-human-rights-obligations-context-climate-change/">States’ Human Rights Obligations in the Context of Climate Change</a> (Center for International Environmental Law, Jan 2018)
</li>
        </ol>
    </div>
</section>
{% endblock %}
