{% extends "base.html" %}
{% block title %}:: Western Massachusetts{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="Extinction Rebellion Western Mass" />
{% endblock %}

{% block content %}
<div class="row pt-5">
    <div class="col-text">
        <h1 class="text-center">XR Western Mass</h1>
        <p>To subscribe to the email list, sign up below.</p>
        <p>Connect with us on <a href="https://www.facebook.com/XRwmass/">Facebook</a> and <a href="https://www.instagram.com/xr_westernma/">Instagram</a>.</p> 
        <p>For general inquiries, email <a href="mailto:XR_Western_Mass@protonmail.com">XR_Western_Mass@protonmail.com</a></p>
    <link href='https://actionnetwork.org/css/style-embed-v3.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v3/form/xr-western-massachusetts-sign-up?format=js&source=widget'></script><div class="pt-2" id='can-form-area-xr-western-massachusetts-sign-up' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
    </div>
</div>
{% endblock %}