.blog-link {
    color: #000;
    text-decoration: underline;
}

.blog-list-title {
	font-family: "Crimson Text Bold", Georgia, serif !important;
	text-decoration: none;
	font-size: 1.5em;
	line-height: .8em;
}

.blog-title {
	font-family: "Crimson Text Bold", Georgia, serif !important;
	text-decoration: none;
	font-size: 2em;
}

.blog-byline {
	font-family: "Crimson Text Bold", Georgia, serif;
	font-size: 0.75em;
	margin-top: 1em;
	padding-top: .25em;
	border-top: solid black 1px;
}

hr.thick {
	border-bottom: 1px solid black;
}

ul.blog-cat-list {
	list-style: none;
}

ul.blog-cat-list a {
    color: #000000;
    text-decoration: none;
}

span.blog-btn a:hover, span.blog-btn a:focus,
ul.blog-cat-list a:hover, ul.blog-cat-list a:focus {
    color: rgb(20, 170, 55);
}

ul.blog-cat-list li a.active {
	border-bottom: 2px solid black;
}

span.blog-tag {
	background-color: black;
	color: white;
	padding-top: 0;
	padding-bottom: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;
}

span.blog-btn {
	background-color: black;
	font-size: 1.5rem;
}

span.blog-tag a {
	color: white !important;
	text-decoration: none !important;
}

span.blog-btn a {
	color: white !important;
	text-decoration: none !important;
}

iframe.youtube {
	width: 100%;
}
