body {
    background-color: #1a1a1a;
    font-family: "Crimson Text", Georgia, serif;
}
h1,h2,h3,h4,h5,h6,.btn-fucxed,.text-fucxed,.btn-primary {
    font-family: FucXed, sans-serif;
}
.col-text {
    margin-left: 5%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
}

.text-bold {
    font-family: "Crimson Text Bold", Georgia, serif;
}
.xr-green {
    color: rgb(20, 170, 55);
}
.xr-bg-green {
    background-color: rgb(20, 170, 55) !important;
}

.xr-lemon {
    color: rgb(247, 238, 106);
}
.xr-bg-lemon {
    background-color: rgb(247, 238, 106) !important;
}

.xr-light-blue {
    color: rgb(117, 208, 241);
}
.xr-bg-light-blue {
    background-color: rgb(117, 208, 241) !important;
}

.xr-pink {
    color: rgb(237, 155,196);
}
.xr-bg-pink {
    background-color: rgb(237, 155,196) !important;
}

.xr-purple {
    color: rgb(152, 98, 151);
}
.xr-bg-purple {
    background-color: rgb(152, 98, 151) !important;
}

.xr-light-green {
    color: rgb(190, 210, 118);
}
.xr-bg-light-green {
    background-color: rgb(190, 210, 118) !important;
}

.xr-warm-yellow {
    color: rgb(255, 193, 30);
}
.xr-bg-warm-yellow {
    background-color: rgb(255, 193, 30) !important;
}

.xr-bright-pink {
    color: rgb(207, 98, 151);
}
.xr-bg-bright-pink {
    background-color: rgb(207, 98, 151) !important;
}

.xr-red {
    color: rgb(220, 79, 0);
}
.xr-bg-red {
    background-color: rgb(220, 79, 0) !important;
}

.xr-dark-blue {
    color: rgb(56, 96, 170);
}
.xr-bg-dark-blue {
    background-color: rgb(56, 96, 170) !important;
}

.xr-angry {
    color: rgb(200, 0, 130);
}
.xr-bg-angry {
    background-color: rgb(200, 0, 130) !important;
}

.xr-bg-gray {
    background-color: rgb(242,242,242) !important;
}

#header-image {
    max-width: 100%
}
#mainbody {
    font-size: 1.2rem;
}
#mainbody form {
    font-size: 1.1rem;
}
#article-container {
    font-size: 1.5rem;
}
p a, h2 a {
    color: #22a83e;
    text-decoration: underline;
}
p a:hover {
    color: #f7ec73;
    background-color: #aaa;
}
#site-nav {
    background-color: #1a1a1a;
    font-size: 1.5rem;
    font-family: FucXed, sans-serif;
    padding-top:.4rem;
}
#site-nav .navbar-nav {
    /*padding-top: 1rem;*/
}
#site-nav a {
    color: #ffffff;
}
#site-nav a.active {
    color: #22a83e;
    background-color: #1a1a1a !important;
}
#site-nav a:hover {
    color: #f7ec73;
}
.dropdown-menu a {
    color: #22a83e;
}
.dropdown-menu {
    background-color: #1a1a1a;
    border: 1px solid #777;
}

.dropdown-item.active, .dropdown-item:active {
    color: #22a83e !important;
    text-decoration: none;
    background-color: #1a1a1a !important;
}
.dropdown-menu a:hover {
    background-color: #aaa;
}
.dropdown-no-arrow::after {
    content: none !important;
}

.btn-primary {
    text-decoration: none;
    color: white !important;
    background-color: rgb(152, 98, 151) !important;
    border-style: none;
}
.btn-primary:hover{
    background-color: rgb(102, 48, 101) !important; 
}
.banner {
    background-color: black !important;
    padding: 0px !important;
    margin: 0px !important;
}
.banner img {
    opacity: 0.5;
}
.banner-title {
    position: absolute;
    font-family: "FucXed";
    font-size: 2rem;
    color:white;
    left:1rem;
    bottom:1rem;
}
a.social {
    color: white;
    font-size: .8em;
}
@media (min-width: 576px) {
    .banner-title {
        font-size: 4rem;
        left:4rem;
        bottom:2.5rem;
    }
    .site-nav {
        padding-left: 0;
        padding-right:1em;
    }
    .border-menu {
        box-sizing: content-box;
        border: 2px solid white !important;
        border-radius: 0.4rem !important;
        padding: .5rem;
    }
}
footer {
    font-size: 1em;
}
