body {
    background-color: #1a1a1a;
    font-family: "Crimson Text", Georgia, serif;
}

:target::before {
  content: "";
  display: block;
  height: 82px; /* fixed header height*/
  margin: -82px 0 0; /* negative fixed header height */
}

@media (min-width: 576px) {
  :target::before {
    content: "";
    display: block;
    height: 100px; /* fixed header height*/
    margin: -100px 0 0; /* negative fixed header height */
  }
}


h1,h2,h3,h4,h5,h6,.btn-fucxed,.text-fucxed,.btn-primary, .btn-secondary {
    font-family: FucXed, sans-serif;
}

h1 {
    margin-bottom: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1rem;
}

div.home-banner-text {
    line-height: 1.25;
}

.px {
    padding-left: 10%;
    padding-right: 10%;
}

.p-1 {
  padding: 0.5rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.5rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.5rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.5rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.5rem !important;
}

.p-2 {
  padding: 1rem !important;
}

.pt-2,
.py-2 {
  padding-top: 1rem !important;
}

.pr-2,
.px-2 {
  padding-right: 1rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 1rem !important;
}

.pl-2,
.px-2 {
  padding-left: 1rem !important;
}

.p-3 {
  padding: 2rem !important;
}

.pt-3,
.py-3 {
  padding-top: 2rem !important;
}

.pr-3,
.px-3 {
  padding-right: 2rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 2rem !important;
}

.pl-3,
.px-3 {
  padding-left: 2rem !important;
}

.p-4 {
  padding: 3rem !important;
}

.pt-4,
.py-4 {
  padding-top: 3rem !important;
}

.pr-4,
.px-4 {
  padding-right: 3rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 3rem !important;
}

.pl-4,
.px-4 {
  padding-left: 3rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.pt-5,
.py-5 {
  padding-top: 5rem !important;
}

.pr-5,
.px-5 {
  padding-right: 5rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 5rem !important;
}

@media (min-width: 320px) {
    .display-1 {
        font-size: 2.25rem;
        line-height: 1;
    }

    h3 {
        font-size: 1.25rem;
    }

    .ml-sm-2 {
        margin-left: 1rem !important;
    }

    .mt-sm-2 {
        margin-top: 1rem !important;
    }

    .p-sm-0 {
      padding: 0rem !important;
    }

    .pt-sm-0,
    .py-sm-0 {
      padding-top: 0rem !important;
    }

    .pr-sm-0,
    .px-sm-0 {
      padding-right: 0rem !important;
    }

    .pb-sm-0,
    .py-sm-0 {
      padding-bottom: 0rem !important;
    }

    .pl-sm-0,
    .px-sm-0 {
      padding-left: 0rem !important;
    }

    .p-sm-1 {
      padding: 0.5rem !important;
    }

    .pt-sm-1,
    .py-sm-1 {
      padding-top: 0.5rem !important;
    }

    .pr-sm-1,
    .px-sm-1 {
      padding-right: 0.5rem !important;
    }

    .pb-sm-1,
    .py-sm-1 {
      padding-bottom: 0.5rem !important;
    }

    .pl-sm-1,
    .px-sm-1 {
      padding-left: 0.5rem !important;
    }

    .p-sm-2 {
      padding: 1rem !important;
    }

    .pt-sm-2,
    .py-sm-2 {
      padding-top: 1rem !important;
    }

    .pr-sm-2,
    .px-sm-2 {
      padding-right: 1rem !important;
    }

    .pb-sm-2,
    .py-sm-2 {
      padding-bottom: 1rem !important;
    }

    .pl-sm-2,
    .px-sm-2 {
      padding-left: 1rem !important;
    }

    .p-sm-3 {
      padding: 2rem !important;
    }

    .pt-sm-3,
    .py-sm-3 {
      padding-top: 2rem !important;
    }

    .pr-sm-3,
    .px-sm-3 {
      padding-right: 2rem !important;
    }

    .pb-sm-3,
    .py-sm-3 {
      padding-bottom: 2rem !important;
    }

    .pl-sm-3,
    .px-sm-3 {
      padding-left: 2rem !important;
    }

    .p-sm-4 {
      padding: 3rem !important;
    }

    .pt-sm-4,
    .py-sm-4 {
      padding-top: 3rem !important;
    }

    .pr-sm-4,
    .px-sm-4 {
      padding-right: 3rem !important;
    }

    .pb-sm-4,
    .py-sm-4 {
      padding-bottom: 3rem !important;
    }

    .pl-sm-4,
    .px-sm-4 {
      padding-left: 3rem !important;
    }

    .p-sm-5 {
      padding: 5rem !important;
    }

    .pt-sm-5,
    .py-sm-5 {
      padding-top: 5rem !important;
    }

    .pr-sm-5,
    .px-sm-5 {
      padding-right: 5rem !important;
    }

    .pb-sm-5,
    .py-sm-5 {
      padding-bottom: 5rem !important;
    }

    .pl-sm-5,
    .px-sm-5 {
      padding-left: 5rem !important;
    }

    .m-sm-0 {
        margin: 0 !important;
    }

    .display-4 {
        font-size: 2.25rem;
    }

    .banner-title {
        position: absolute;
        font-family: "FucXed";
        font-size: 2.25rem;
        color:white;
        padding-left: 10%;
        padding-right: 10%;
        bottom: 2.5rem;
    }

    .highlight-action span {
      display: inline-block;
    }

    .date-month, .date-day {
        font-size: 1.2rem;
    }

    #site-nav .navbar-nav {
        padding-top: 1.25rem;
    }

    a.nav-link {
        margin-top: 18px;
        margin-bottom: 18px;
        padding-top: 0;
        padding-bottom: 0;
    }

    a.donate-btn {
        margin-left: 0;
        margin-top: 18px;
        margin-bottom: 18px;
    }
}

@media (min-width: 576px) {
    .banner-title {
        font-size: 4rem;
    }

    .banner {
        overflow: hidden;
        height: 25vw;
    }

    .banner img {
        overflow: hidden;
    }

    .site-nav {
        padding-left: 0;
        padding-right:1em;
    }
}

@media (min-width: 768px) {
    .display-1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.55rem;
    }

    .mt-md-4 {
        margin-top: 3rem !important;
    }

    .p-md-0 {
      padding: 0rem !important;
    }

    .pt-md-0,
    .py-md-0 {
      padding-top: 0rem !important;
    }

    .pr-md-0,
    .px-md-0 {
      padding-right: 0rem !important;
    }

    .pb-md-0,
    .py-md-0 {
      padding-bottom: 0rem !important;
    }

    .pl-md-0,
    .px-md-0 {
      padding-left: 0rem !important;
    }

    .p-md-1 {
      padding: 0.5rem !important;
    }

    .pt-md-1,
    .py-md-1 {
      padding-top: 0.5rem !important;
    }

    .pr-md-1,
    .px-md-1 {
      padding-right: 0.5rem !important;
    }

    .pb-md-1,
    .py-md-1 {
      padding-bottom: 0.5rem !important;
    }

    .pl-md-1,
    .px-md-1 {
      padding-left: 0.5rem !important;
    }

    .p-md-2 {
      padding: 1rem !important;
    }

    .pt-md-2,
    .py-md-2 {
      padding-top: 1rem !important;
    }

    .pr-md-2,
    .px-md-2 {
      padding-right: 1rem !important;
    }

    .pb-md-2,
    .py-md-2 {
      padding-bottom: 1rem !important;
    }

    .pl-md-2,
    .px-md-2 {
      padding-left: 1rem !important;
    }

    .p-md-3 {
      padding: 2rem !important;
    }

    .pt-md-3,
    .py-md-3 {
      padding-top: 2rem !important;
    }

    .pr-md-3,
    .px-md-3 {
      padding-right: 2rem !important;
    }

    .pb-md-3,
    .py-md-3 {
      padding-bottom: 2rem !important;
    }

    .pl-md-3,
    .px-md-3 {
      padding-left: 2rem !important;
    }

    .p-md-4 {
      padding: 3rem !important;
    }

    .pt-md-4,
    .py-md-4 {
      padding-top: 3rem !important;
    }

    .pr-md-4,
    .px-md-4 {
      padding-right: 3rem !important;
    }

    .pb-md-4,
    .py-md-4 {
      padding-bottom: 3rem !important;
    }

    .pl-md-4,
    .px-md-4 {
      padding-left: 3rem !important;
    }

    .p-md-5 {
      padding: 5rem !important;
    }

    .pt-md-5,
    .py-md-5 {
      padding-top: 5rem !important;
    }

    .pr-md-5,
    .px-md-5 {
      padding-right: 5rem !important;
    }

    .pb-md-5,
    .py-md-5 {
      padding-bottom: 5rem !important;
    }

    .pl-md-5,
    .px-md-5 {
      padding-left: 5rem !important;
    }

    .display-4 {
        font-size: 3.5rem;
    }

    .date-month {
        font-size: 1.5rem;
    }

    .date-day {
        font-size: 2.25rem;
    }
}

@media (min-width: 992px) {
    .ml-lg-auto {
        margin-left: auto !important;
    }

    .p-lg-0 {
      padding: 0rem !important;
    }

    .pt-lg-0,
    .py-lg-0 {
      padding-top: 0rem !important;
    }

    .pr-lg-0,
    .px-lg-0 {
      padding-right: 0rem !important;
    }

    .pb-lg-0,
    .py-lg-0 {
      padding-bottom: 0rem !important;
    }

    .pl-lg-0,
    .px-lg-0 {
      padding-left: 0rem !important;
    }

    .p-lg-1 {
      padding: 0.5rem !important;
    }

    .pt-lg-1,
    .py-lg-1 {
      padding-top: 0.5rem !important;
    }

    .pr-lg-1,
    .px-lg-1 {
      padding-right: 0.5rem !important;
    }

    .pb-lg-1,
    .py-lg-1 {
      padding-bottom: 0.5rem !important;
    }

    .pl-lg-1,
    .px-lg-1 {
      padding-left: 0.5rem !important;
    }

    .p-lg-2 {
      padding: 1rem !important;
    }

    .pt-lg-2,
    .py-lg-2 {
      padding-top: 1rem !important;
    }

    .pr-lg-2,
    .px-lg-2 {
      padding-right: 1rem !important;
    }

    .pb-lg-2,
    .py-lg-2 {
      padding-bottom: 1rem !important;
    }

    .pl-lg-2,
    .px-lg-2 {
      padding-left: 1rem !important;
    }

    .p-lg-3 {
      padding: 2rem !important;
    }

    .pt-lg-3,
    .py-lg-3 {
      padding-top: 2rem !important;
    }

    .pr-lg-3,
    .px-lg-3 {
      padding-right: 2rem !important;
    }

    .pb-lg-3,
    .py-lg-3 {
      padding-bottom: 2rem !important;
    }

    .pl-lg-3,
    .px-lg-3 {
      padding-left: 2rem !important;
    }

    .p-lg-4 {
      padding: 3rem !important;
    }

    .pt-lg-4,
    .py-lg-4 {
      padding-top: 3rem !important;
    }

    .pr-lg-4,
    .px-lg-4 {
      padding-right: 3rem !important;
    }

    .pb-lg-4,
    .py-lg-4 {
      padding-bottom: 3rem !important;
    }

    .pl-lg-4,
    .px-lg-4 {
      padding-left: 3rem !important;
    }

    .p-lg-5 {
      padding: 5rem !important;
    }

    .pt-lg-5,
    .py-lg-5 {
      padding-top: 5rem !important;
    }

    .pr-lg-5,
    .px-lg-5 {
      padding-right: 5rem !important;
    }

    .pb-lg-5,
    .py-lg-5 {
      padding-bottom: 5rem !important;
    }

    .pl-lg-5,
    .px-lg-5 {
      padding-left: 5rem !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .75rem;
        padding-left: .75rem;
    }

    #site-nav .navbar-nav {
        padding-top: 0;
    }

    a.nav-link {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    a.donate-btn {
        margin-left: .75rem;
    }

    ul.navbar-nav {
        align-items: center;
    }
}

.mt-2 {
    margin-top: 1rem !important;
}

.my-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

@media (max-width: 991px) {
    .col-text {
        max-width: 90%;
    }
}

.col-8.col-text {
    padding-left: 0;
    padding-right: 0;
}

.col-text {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
}

.text-bold {
    font-family: "Crimson Text Bold", Georgia, serif;
}

.xr-green {
    color: rgb(20, 170, 55);
}

.xr-bg-green {
    background-color: rgb(20, 170, 55) !important;
}

.xr-lemon {
    color: rgb(247, 238, 106);
}

.xr-bg-lemon {
    background-color: rgb(247, 238, 106) !important;
}

.xr-light-blue {
    color: rgb(117, 208, 241);
}

.xr-bg-light-blue {
    background-color: rgb(117, 208, 241) !important;
}

.xr-pink {
    color: rgb(237, 155,196);
}

.xr-bg-pink {
    background-color: rgb(237, 155,196) !important;
}

.xr-purple {
    color: rgb(152, 98, 151);
}

.xr-bg-purple {
    background-color: rgb(152, 98, 151) !important;
}

.xr-light-green {
    color: rgb(190, 210, 118);
}

.xr-bg-light-green {
    background-color: rgb(190, 210, 118) !important;
}

.xr-warm-yellow {
    color: rgb(255, 193, 30);
}

.xr-bg-warm-yellow {
    background-color: rgb(255, 193, 30) !important;
}

.xr-bright-pink {
    color: rgb(207, 98, 151);
}

.xr-bg-bright-pink {
    background-color: rgb(207, 98, 151) !important;
}

.xr-red {
    color: rgb(220, 79, 0);
}

.xr-bg-red {
    background-color: rgb(220, 79, 0) !important;
}

.xr-dark-blue {
    color: rgb(56, 96, 170);
}

.xr-bg-dark-blue {
    background-color: rgb(56, 96, 170) !important;
}

.xr-angry {
    color: rgb(200, 0, 130);
}

.xr-bg-angry {
    background-color: rgb(200, 0, 130) !important;
}

.xr-bg-gray {
    background-color: rgb(242,242,242) !important;
}

#header-image {
    max-width: 100%;
    height: 4.25rem;
}

#mainbody {
    font-size: 1.2rem;
}

#mainbody form {
    font-size: 1.1rem;
}

#article-container {
    font-size: 1.5rem;
}

p a, h2 a, small a, ul.list-unstyled a {
    color: #000000;
    text-decoration: underline;
}

p a:hover, p a:focus,
small a:hover, small a:focus,
ul.list-unstyled a:hover, ul.list-unstyled a:focus {
    color: rgb(20, 170, 55);
}

.navbar {
    padding: .5rem 5%;
}

#site-nav {
    background-color: #1a1a1a;
    font-size: 1.2rem;
    font-family: FucXed, sans-serif;
    padding-top:.4rem;
}

#site-nav a {
    color: #ffffff;
}

#site-nav a.active {
    color: #22a83e;
    background-color: #1a1a1a !important;
}

#site-nav a:hover, #site-nav a:focus {
    color: #14AA37;
}

.dropdown-menu {
    background-color: #1a1a1a;
    margin: 1.25rem 0 0;
    border: none; /*hacky way of overriding default drop-menu*/
    border-top: 3px solid white;
    border-radius: 0;
}

.dropdown-menu a {
    color: #22a83e;
}

.dropdown-item {
    font-size: 1.2rem;
    padding: .25rem 1.25rem;
}

.dropdown-item.active, .dropdown-item:active {
    color: #22a83e !important;
    text-decoration: none;
    background-color: #1a1a1a !important;
}

.dropdown-menu a:hover {
    background-color: #aaa;
}

.dropdown-no-arrow::after {
    content: none !important;
}

@media (max-width: 767px) {
    p.btn-row>a {
        margin-bottom: 1rem;
    }

    p.btn-row>a:last-child {
        margin-bottom: 0;
    }
}

.btn-row {
    margin-top: 1.2rem;
}

p.btn-row>a {
    margin-right: 1.2rem;
}

p.btn-row>a:last-child {
    margin-right: 0;
}

.btn {
    padding: .5rem 1.5rem;
    border-width: 3px !important;
}

.btn-primary {
    text-decoration: none;
    color: white !important;
    background-color: rgb(152, 98, 151) !important;
    border-style: none;
    font-size: 1rem;
    padding: .5rem 1.75rem;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: rgb(102, 48, 101) !important; 
}

.btn-secondary {
  text-decoration: none;
  color: white !important;
  border-style: none;
  font-size: 1rem;
  padding: .5rem 1.75rem;
}
/*
.btn-secondary:hover, .btn-secondary:focus {
  background-color: rgb(102, 48, 101) !important; 
}
*/
.donate-btn {
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
}

a.donate-btn:hover {
    color: #000000 !important;
}

.arrow-btn {
    height: 1.75rem;
    width: auto;
}

svg.arrow-btn:hover,svg.arrow-btn:focus {
    fill: rgb(102, 48, 101) !important;
}

.banner {
    background-color: black !important;
    padding: 0px !important;
    margin: 0px !important;
}

.banner img {
    opacity: 0.5;
}

.card-row {
    margin-left: 10%;
    margin-right: 10%;
}

.card-body {
    padding: 1.75rem;
}

.card-text {
    padding-top: 1.25rem;
}

.quote-mark {
    height: 1.5rem;
}

.table .thead-xr-pink th {
    font-size: 1.25rem;
    border: none;
}

.table a:hover {
    color: #22a83e;
}

.table td {
    padding: 0;
}

.border, .table td {
    border: 3px solid #F2F2F2 !important;
}

div.d-lg-block>div {
    background-color: #F7EE6A;
    padding: 9px 7px !important;
    margin: 0 0 4px 0 !important;
}

td h5 {
    padding-top: .75rem;
    padding-left: .75rem;
}

div.act-now-block h1 {
    max-width: fit-content;
}

a.social {
    color: white;
    font-size: .8em;
}

.event-icon {
    height: 1.2rem;
    padding-right: 10px;
}

.fa-stack, .svg-inline--fa.fa-stack-2x {
    height: 2.75em;
    width: 2.75em;
}

span.fa-stack path:hover, span.fa-stack path:focus {
    fill: #22a83e;
}

footer a {
    font-size: 1.2rem;
    font-family: FucXed, sans-serif;
    color: #FFFFFF;
}

footer a.pr-4:hover, footer a.pr-4:focus {
    color: #22a83e;
    text-decoration: none;
}


