{% extends "modeladmin/edit.html" %}
{% load i18n %}

{% block form_actions %}
    <div class="dropdown dropup dropdown-button match-width">
        <button type="submit" class="button action-save button-longrunning" data-clicked-text="{% trans 'Saving…' %}">
            <span class="icon icon-spinner"></span><em>{% trans 'Save' %}</em>
        </button>
            <div class="dropdown-toggle icon icon-arrow-up"></div>
            <ul>
                {% if user_can_delete %}
                    <li><a href="{{ view.delete_url }}" class="shortcut">{% trans "Delete" %}</a></li>
                {% endif %}
                <li>
                    <input type="submit" class="button action-save button-longrunning" data-clicked-text="{% trans 'Saving…' %}" value="Save and continue editing" name="_continue">
                        <span class="icon icon-spinner"></span><em>{% trans 'Save and continue editing' %}</em>
                    </input>
                </li>
            </ul>
    </div>
{% endblock %}
