{% extends "base.html" %}
{% load compress %}
{% load static %}
{% block extrahead %}
    {% compress css %}
      <link href="{% static 'css/main.scss' %}" type="text/x-scss" rel="stylesheet">
      <link href="{% static 'css/mention.scss' %}" type="text/x-scss" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script defer src="{% static 'js/fontawesome-all.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/quill.min.js' %}"></script>
<script src="{% static 'js/jquery.blockUI.min.js' %}"></script>
{% endblock %}