{% extends "base.html" %}
{% load info %}
{% block title %}:: {{object.title}}{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="{{object.body|truncatewords:100}}" />
{% endblock %}
{% block content %}
<div class="row pt-4">
	<div class="col-lg-10 offset-lg-1">
		<h2 class="text-center">{{object.title}}</h2>
		<h4 class="text-center">{% if not object.is_released %}<span class="text-danger">embargoed until</span> {% endif %}{{object.released|date}}</h4>
		<hr>
		{{object.body|markdownify}}
		{% if 'info.change_pressrelease' in perms %}
		<hr class="pt-4">
		<div class="text-center"><a class="btn btn-primary btn-lg" href="/admin/info/pressrelease/{{object.id}}/change/">Edit</a></div>
		{% endif %}
	</div>
</div>
{% endblock %}
