{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load info %}
{% block title %}:: {{action.text_title}}{% endblock %}
{% block og_title %}{{action.text_title}}{% endblock %}
{% block og_image %}
{% if image %}
  {% image image fill-800x450 format-jpeg as og_image %}
  <meta property="og:image" content="https://{{request.get_host}}{{og_image.url}}" />
  <meta property="og:image:alt" content="{{og_image.caption}}" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:height" content="450"/>
  <meta property="og:image:width" content="800"/>
{% elif photos %}
  <meta property="og:image" content="https://{{request.get_host}}{{photos.0.photo.url}}" />
  <meta property="og:image:alt" content="{{photos.0.caption}}" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:height" content="{{photos.0.height}}"/>
  <meta property="og:image:width" content="{{photos.0.width}}"/>
 {% else %}
 {{block.super}}
{% endif %}
{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="{{action.description|markdownify|truncatewords_html:30|striptags}}" />
{% endblock %}
{% block inline_css %}
{{block.super}}
#mainbody {
	background-color: white !important;
}
.action-loc p {
	display: inline-block;
	margin: 0 !important;
    text-decoration: underline !important;
}
.action-loc a {
    color: black;
}
.action-icon {
    vertical-align: middle;
    font-size: 1.2em;
}
.date-month {
	font-size: 1.2em;
}
.date-day {
	font-size: 1.8em;
}
{% endblock %}
{% block content %}
{% load tz %}
{% comment %}
not working yet because we need actual address data for events.
<script type="application/ld+json">
{% include 'action.ld.json' %}
</script>
{% endcomment %}
<div class="row px justify-content-center" style="padding-top: 100px">
	<div class="col-5 col-md-2 pl-0 pr-md-3 pb-sm-3">
		<div class="xr-bg-lemon p-2 text-center text-fucxed">
			<p class="date-month">{{action.when|localtime|date:"M"}}<br>
			<span class="date-day">{{action.when|localtime|date:"d"}}</span></p>
		</div>
	</div>
	 <div class="col-12 col-md-8 pl-0">
		<h1 class="display-4 pb-sm-2 pb-md-3 m-0">{{action.html_title}}</h1>
		{% if not action.public %}<h4 class="text-center text-warning">not public</h4>{% endif %}
		<div class="row">
		<div class="col-1 pr-0">
			<i class="far fa-clock pr-1 action-icon" title="Event time"></i>
		</div>
		<div class="col-11 col-lg-3 pl-1">
			<span class="small">{{action.when|localtime|time}}</span>
		</div>
		{% if action.location %}
		<div class="col-1 pr-0">
			<i class="fas fa-map-marker-alt pr-1 action-icon" title="Map Marker"></i>
		</div>
		<div class="col pl-1">
			<span class="small action-loc">{{action.location_link}}</span>
		</div>
		{% endif %}
		</div>
	</div>
</div>
<hr class="col-8 my-3">
<div class="row px justify-content-center">
	<div class="col col-md-8">
		{{action.description|markdownify}}
		{% if action.accessibility %}
		<div class="accessibility-info text-left">
			<br>
			<span class="text-bold">Accessibility</span><br>
			{{action.accessibility|markdownify}}
		</div>
		{% endif %}
	</div>
	<div class="w-100"></div>
	<div class="col">
		<div class="text-center pt-5">
			{% if 'actions.change_action' in perms %}
			<h4><a href="{% url 'wagtailadmin_home' %}actions/action/edit/{{action.id}}/">Edit</a></h4>
			{% endif %}
			<h4><a href="webcal://{{request.get_host}}/action/ical/{{action.id}}" title="Export calendar as iCal format"><i class="far fa-calendar-alt"></i></a></h4>
		</div>
	</div>
</div>
{% if image %}
	<div class="col text-center">
		{% image image fill-800x450 class="img img-fluid"%}
	</div>
{% elif photos %}
{% load thumbnail %}
<section class="row photo-view py-sm-4 py-md-5 px justify-content-center">
	{% for photo in photos %}
	<div class="col text-center">
      {% thumbnail photo.photo "600x600" as im %}
      <a href="{{photo.photo.url}}"><img class="img img-fluid" src="{{ im.url }}" alt="{{photo.caption}}"></a>
      {% endthumbnail %}
	</div>
{% if forloop.counter|divisibleby:3 %}</section><section class="row mt-2">{% endif %}
	{% endfor %}
</section>
{% endif %}
{% if form %}
<div class="row mt-4">
	<div class="col-lg-8 col-sm-12 offset-sm-0 offset-lg-2">
		{% if not action.is_full %}
		<h4>RSVP to this event</h4>
		<form method="post"> {% csrf_token %}
			<div class="text-danger">{{form.non_field_errors}}</div>
			<div class="form-group row">
				<div class="col">
					<label for="{{form.email.id_for_label}}" class="d-none d-sm-block">Email</label>
					{{form.email}}
					<div class="text-danger">{{form.email.errors}}</div>
				</div>
				<div class="col">
					<label for="{{form.name.id_for_label}}" class="d-none d-sm-block">Name</label>
					{{form.name}}
					<div class="text-danger">{{form.name.errors}}</div>
				</div>
			</div>
			{% if has_roles %}
			<div class="form-group row">
				<label for="{{form.role.id_for_label}}" class="d-none d-sm-block col-4 text-right">Your Role:</label>
				<div class="col">
					{{form.role}}
					<div class="text-danger">{{form.role.errors}}</div>
				</div>
			</div>
			{% endif %}
			{% if action.show_commitment %}
			<div class="form-group row">
				<label for="{{form.promised.id_for_label}}" class="col-10 col-lg-4 text-right form-check-label">I'm Committed!</label>
				<div class="col">
					{{form.promised}}
					<div class="text-danger">{{form.promised.errors}}</div>
				</div>
			</div>
					<h4 class="text-center">OR</h4>
			<div class="form-group row">
				<label for="{{form.commit.id_for_label}}" class="col-lg-4 col-10 text-right">I promise to attend if this many also commit:</label>
				<div class="col col-lg-2">
					{{form.commit}}
					<div class="text-danger">{{form.commit.errors}}</div>
				</div>
			</div>
			{% endif %}
			<div class="form-group row mt-4 pt-2">
				<div class="col">
					<input class="btn btn-primary btn-lg text-uppercase" type="submit" value="I'm Going!">
				</div>
			</div>
		</form>
		{% else %}
		<h2 class="text-center text-warning">Sorry, but registration is closed</h2>
		<p class="text-center">Please check back for future <a href="{% url 'extinctionr.actions:list-actions' %}">events</a>.</p>
		{% endif %}
	</div>
</div>
{% endif %}
{% if request.user.is_staff %}
<div class="row mt-4">
	<div class="col small">
		<hr>
		<p>Tags: {{action.tags.names|join:","}}</p>
		{% if 'actions.change_action' in perms %}<p class=""><a href="/admin/actions/action/{{action.id}}/change/">Edit</a></p>{% endif %}
		{% if attendees %}
		{% if 'actions.view_attendee' in perms %}<p class=""><a href="/action/{{action.slug}}/attendees/?fmt=csv">Download CSV of Contacts</a></p>{% endif %}
		<a name="attendees"></a>
		<h4 class="text-right">{{attendees|length}} signups{% if action.show_commitment %} &mdash; {{promised|length}} Committed{% endif %}</h4>
		<table class="table table-sm table-responsive-sm table-responsive-lg table-striped table-hover">
			<thead class="thead-dark small">
				<tr class="text-center">
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Phone</th>
				{% if has_roles %}<th scope="col">Role</th>{% endif %}
				{% if action.show_commitment %}<th scope="col">Condition</th>{% endif %}
				<th scope="col">Notes</th>
				<th scope="col">Notify</th>
				</tr>
			</thead>
			<tbody class="small">
			{% for attendee in attendees %}
			<tr class="text-center border-bottom {% if attendee.notified %}table-success{% endif %}">
				<th scope="row"><a title="edit attendee" href="/admin/actions/attendee/{{attendee.id}}/change/">{{attendee.contact.first_name}} {{attendee.contact.last_name}}</a></th>
				<td>{% if attendee.contact.email %}<a href="mailto:{{attendee.contact.email}}">{{attendee.contact.email}}</a>{% endif %}</td>
				<td>{% if attendee.contact.phone %}{{attendee.contact.phone}}{% endif %}</td>
				{% if has_roles %}<td>{{attendee.role}}</td>{% endif %}
{% if action.show_commitment %}<td>{{attendee.mutual_commitment}}{% if attendee.promised %} <span class="text-info" title="Committed on {{attendee.promised}}">&check;</span>{% endif %}</td>{% endif %}
				<td>{{attendee.notes}}</td>
				<td><input type="checkbox" {% if not attendee.notified %}checked{% endif %} class="email-rcpt" value="{{attendee.contact.email}}"></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="row">
		{% if action.show_commitment and 'actions.change_attendee' in perms %}
			<form class="form-inline" action="/action/{{action.slug}}/attendees/notify/" method="post">
				<label for="threshold-field" class="small col-5">Notify people who have indicated a committment threshold: </label>
				<input id="threshold-field" class="mx-2 form-control col-2 col-lg-1" type="number" name="threshold" value="1">
				<input type="submit" value="Notify" class="mx-2 form-control btn btn-primary col-3 col-lg-2">
			</form>
		{% endif %}
			<button id="email-everyone" class="col-lg-2 col ml-auto mr-2 btn btn-info">Email checked</button>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	$('#id_commit').change(function(){
		if ($(this).val() != '0') {
			$('#id_promised').prop('checked', false);
		}
	});
	$('#id_promised').change(function() {
		if ($(this).prop('checked')) {
			$('#id_commit').val('0');
		}
	});
	$('#email-everyone').click(function(){
		var href = 'mailto:{{default_to_email}}?subject=[XR] {{action.name}}&bcc=';
		var has_addrs = false;
		$('.email-rcpt').each(function(){
			if ($(this).prop('checked')) {
				href += $(this).prop('value') + ',';
				has_addrs = true;
			}
		});
		if (has_addrs) {
			location.href = href;
		}
	});
</script>
{% endblock %}
