{% extends "base.html" %}
{% load info %}
{% block title %}:: {{action.name}}{% endblock %}
{% block og_title %}{{action.name}}{% endblock %}
{% block og_image %}
{% if photos %}
  <meta property="og:image" content="https://{{request.get_host}}{{photos.0.photo.url}}" />
  <meta property="og:image:alt" content="{{photos.0.caption}}" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:height" content="{{photos.0.height}}"/>
  <meta property="og:image:width" content="{{photos.0.width}}"/>
 {% else %}
 {{block.super}}
{% endif %}
{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="{{action.description|markdownify|truncatewords_html:30|striptags}}" />
{% endblock %}

{% block content %}
<div class="row pt-5 text-center">
	<div class="col-lg-10 col-sm-12 offset-lg-1">
		<h1>{{action.name}}</h1>
		<h2>{{action.when}}</h2>
		{% if action.location %}
		<P class="text-info"><a href="https://maps.google.com/?q={{action.location|urlencode}}">{{action.location|linebreaks}}</a></P>
		{% endif %}
		<div class="text-left">{{action.description|markdownify}}</div>
		<hr>
	</div>
</div>
{% if photos %}
{% load thumbnail %}
<section class="row photo-view">
	{% for photo in photos %}
	<div class="col text-center">
      {% thumbnail photo.photo "400x400" as im %}
      <a href="{{photo.photo.url}}"><img class="img img-fluid img-thumbnail" src="{{ im.url }}" alt="{{photo.caption}}"></a>
      {% endthumbnail %}
	</div>
{% if forloop.counter|divisibleby:3 %}</section><section class="row mt-2">{% endif %}
	{% endfor %}
</section>
<hr>
{% endif %}
{% if form %}
<div class="row mt-4">
	<div class="col-lg-6 col-sm-12 offset-sm-0 offset-lg-3">
		<form method="post"> {% csrf_token %}
			<div class="text-danger">{{form.non_field_errors}}</div>
			<div class="form-group row">
				<label for="{{form.email.id_for_label}}" class="d-none d-sm-block col-4 text-right">Email:</label>
				<div class="col">
					{{form.email}}
					<div class="text-danger">{{form.email.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.name.id_for_label}}" class="d-none d-sm-block col-4 text-right">Your Name:</label>
				<div class="col">
					{{form.name}}
					<div class="text-danger">{{form.name.errors}}</div>
				</div>
			</div>
			{% if action.show_commitment %}
			{% if form.fields.role.queryset %}
			<div class="form-group row">
				<label for="{{form.role.id_for_label}}" class="d-none d-sm-block col-4 text-right">Your Role:</label>
				<div class="col">
					{{form.role}}
					<div class="text-danger">{{form.role.errors}}</div>
				</div>
			</div>
			{% endif %}
			<div class="form-group row">
				<label for="{{form.promised.id_for_label}}" class="col-10 col-lg-4 text-right form-check-label">I'm Committed!</label>
				<div class="col">
					{{form.promised}}
					<div class="text-danger">{{form.promised.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.commit.id_for_label}}" class="col-lg-4 col-10 text-right">I promise to attend if this many also commit:</label>
				<div class="col col-lg-2">
					{{form.commit}}
					<div class="text-danger">{{form.commit.errors}}</div>
				</div>
			</div>
			{% endif %}
			<div class="form-group row mt-4 pt-4">
				<div class="col text-center">
					<input class="btn btn-fucxed btn-lg btn-block btn-outline-dark btn-success text-uppercase" type="submit" value="I'm Going!">
				</div>
			</div>
		</form>
	</div>
</div>
{% endif %}
{% if request.user.is_staff %}
<div class="row mt-4">
	<div class="col small">
		{% if 'actions.change_action' in perms %}<p class=""><a href="/admin/actions/action/{{action.id}}/change/">Edit</a></p>{% endif %}
		{% if attendees %}
		{% if 'actions.view_attendee' in perms %}<p class=""><a href="/action/{{action.slug}}/attendees/?fmt=csv">Download CSV of Contacts</a></p>{% endif %}
		<table class="table table-striped table-sm">
			<thead class="thead-dark small">
				<tr class="text-center">
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Phone</th>
				<th scope="col">Role</th>
				<th scope="col">Condition</th>
				<th scope="col">Notes</th>
				</tr>
			</thead>
			<tbody class="small">
			{% for attendee in attendees %}
			<tr class="text-center border-bottom {% if attendee.notified %}table-success{% endif %}">
				<th scope="row"><a title="edit attendee" href="/admin/actions/attendee/{{attendee.id}}/change/">{{forloop.counter}}</a></th>
				<td><a title="edit contact" href="{% url 'contacts:view_contact' pk=attendee.contact_id %}">{{attendee.contact.first_name}} {{attendee.contact.last_name}}</a></td>
				<td>{% if attendee.contact.email %}<a href="mailto:{{attendee.contact.email}}">{{attendee.contact.email}}</a>{% endif %}</td>
				<td>{% if attendee.contact.phone %}{{attendee.contact.phone}}{% endif %}</td>
				<td>{{attendee.role}}</td>
				<td>{{attendee.mutual_commitment}}</td>
				<td>{{attendee.notes}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% if action.show_commitment and 'actions.change_attendee' in perms %}
		<form class="form-inline" action="/action/{{action.slug}}/attendees/notify/" method="post">
			<label for="threshold-field" class="small">Notify people who have indicated a committment threshold: </label>
			<input id="threshold-field" class="mx-2 form-control col-1" type="number" name="threshold" value="1">
			<input type="submit" value="Notify" class="mx-2 form-control btn btn-primary col-1">
		</form>
		{% endif %}
		{% endif %}
	</div>
</div>
{% endif %}

{% endblock %}
