{% extends "base.html" %}

{% block content %}
{% load info %}
<div class="row text-center">
	<div class="col">
		<h1>{{action.name}}</h1>
		<h2>{{action.when}}</h2>
		{% if action.location %}
		<P class="text-info"><a href="https://maps.google.com/?q={{action.location|urlencode}}">{{action.location|linebreaks}}</a></P>
		{% endif %}
		<div class="text-left">{{action.description|markdownify}}</div>
		<hr>
	</div>
</div>
{% if form %}
<div class="row mt-4">
	<div class="col-6 offset-3">
		<form method="post"> {% csrf_token %}
			<div class="text-danger">{{form.non_field_errors}}</div>
			<div class="form-group row">
				<label for="{{form.email.id_for_label}}" class="col-5">Email:</label>
				<div class="col">
					{{form.email}}
					<div class="text-danger">{{form.email.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.name.id_for_label}}" class="col-5">Your Name:</label>
				<div class="col">
					{{form.name}}
					<div class="text-danger">{{form.name.errors}}</div>
				</div>
			</div>
			{% if form.fields.role.queryset %}
			<div class="form-group row">
				<label for="{{form.role.id_for_label}}" class="col-5">Your Role:</label>
				<div class="col">
					{{form.role}}
					<div class="text-danger">{{form.role.errors}}</div>
				</div>
			</div>
			{% endif %}
			<div class="form-group row">
				<label for="{{form.promised.id_for_label}}" class="col-5">I'm Committed!</label>
				<div class="col">
					{{form.promised}}
					<div class="text-danger">{{form.promised.errors}}</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="{{form.commit.id_for_label}}" class="col-5">I promise to attend if this many also commit:</label>
				<div class="col">
					{{form.commit}}
					<div class="text-danger">{{form.commit.errors}}</div>
				</div>
			</div>

			<div class="form-group row mt-4">
				<div class="col text-center">
					<input class="btn btn-lg btn-outline-dark btn-success text-uppercase" type="submit" value="I'm Going!">
				</div>
			</div>
		</form>
	</div>
</div>
{% endif %}
{% if request.user.is_authenticated and request.user.is_staff and attendees %}
<div class="row mt-4">
	<div class="col">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr class="text-center">
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Phone</th>
				<th scope="col">Role</th>
				<th scope="col">Notes</th>
				</tr>
			</thead>
			<tbody class="small">
			{% for attendee in attendees %}
			<tr>
				<th scope="row"><a title="edit attendee" href="/admin/actions/attendee/{{attendee.id}}/change/">{{forloop.counter}}</a></th>
				<td><a title="edit contact" href="{% url 'contacts:edit_contact' pk=attendee.contact_id %}">{{attendee.contact.first_name}} {{attendee.contact.last_name}}</a></td>
				<td>{% if attendee.contact.email %}<a href="mailto:{{attendee.contact.email}}">{{attendee.contact.email}}</a>{% endif %}</td>
				<td>{% if attendee.contact.phone %}{{attendee.contact.phone}}{% endif %}</td>
				<td>{{attendee.role}}</td>
				<td>{{attendee.notes}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

{% endblock %}
