{% extends "base.html" %}
{% block title %}:: Upcoming Actions{% endblock %}
{% block og_title %}Upcoming Actions{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="Upcoming Actions" />
{% endblock %}
  {% block inline_css %}
{{block.super}}
table a {
    color: #000;
    text-decoration: underline;
}
table td {
    font-size: .8em;
}
table a:hover {
    color: rgb(200, 0, 130);
}
{% endblock %}

{% block content %}
{% load info %}
{% load tz %}
{% if not is_cal %}
<div class="row pt-5">
    <h1 class="col-text text-center">Upcoming Actions</h1>
</div>
    <hr>
<section class="row">
    {% if upcoming %}
    {% for action in upcoming %}
    <div class="col text-center m-2 {% if not forloop.counter|divisibleby:3 %}border-right{% endif %}">
        <h2><a href="{{action.get_absolute_url}}">{{action.html_title}}</a></h2>
        <h3>{{action.when}}</h3>
        {% if not action.public %}<h4 class="text-danger">not public</h4>{% endif %}
        {% if action.location %}
        <p class="text-info small">{{action.location_link}}</p>
        {% endif %}
        <div class="text-left small">{{action.description|markdownify|truncatewords_html:30}}</div>
    </div>
{% if forloop.counter|divisibleby:3 %}</section><section class="row pt-3">{% endif %}
    {% endfor %}
    {% else %}
    <div class="col m-2 text-center">
        <p>There are no upcoming events.</p>
        <p>Why not <a href="/talk">propose a location for a talk</a> in your area?</p>
    </div>
    {% endif %}
</section>
{% endif %}
<a name="calendar"></a>
<div class="row {% if is_cal %}pt-5{% else %}mt-3{% endif %}">
    <div class="col">
        {% if not is_cal %}<hr>{% endif %}
        <h3 class="text-center">{{current_date|date:"F Y"}}</h3>
        {% if current_tag %}<h3 class="text-center">{{current_tag}} events</h3>{% endif %}
        <table class="table border table-responsive-sm">
            <thead class="thead-dark small text-center text-fucxed">
                <tr>
                    <th style="width: 14%" scope="col">Sun</th>
                    <th style="width: 14%" scope="col">Mon</th>
                    <th style="width: 14%" scope="col">Tue</th>
                    <th style="width: 14%" scope="col">Wed</th>
                    <th style="width: 14%" scope="col">Thu</th>
                    <th style="width: 14%" scope="col">Fri</th>
                    <th style="width: 14%" scope="col">Sat</th>
                </tr>
            </thead>
            <tbody class="small">
                {% for week in month %}
                <tr style="height:6em">
                    {% for day in week %}
                    <td{% if forloop.first %} scope="row"{% endif %} class="{% if day.bg %} {{day.bg}}{% endif %}{% if day.today %} border border-dark{% endif %}">
                        <h5>{% if can_add %}<a href="" data-toggle="modal" data-target="#event-modal" data-when="{{day.day.isoformat}}">{{day.day.day}}</a>{% else %}{{day.day.day}}{% endif %}</h5>
                        {% for event in day.events %}
                        {% if not event.public %}<i class="fas fa-lock" title="Not public"></i> {% endif %}
                        {% if 'pending' in event.tags.names %}<i class="fas fa-question" title="Pending Event"></i>{% endif %}
                        {{event.when|localtime|date:"P"}} &mdash; <a href="{{event.get_absolute_url}}">{{event.html_title}}</a><br>
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4 class="row">
            <span class="col text-left ml-3"><a href="?month={{last_month|date:"Y-m"}}{% if current_tag %}&tag={{current_tag}}{% endif %}">&larr; {{last_month|date:"F Y"}}</a></span>
            <span class="col text-right mr-3"><a href="?month={{next_month|date:"Y-m"}}{% if current_tag %}&tag={{current_tag}}{% endif %}">{{next_month|date:"F Y"}} &rarr;</a></span>
        </h4>
<!-- <iframe src="https://calendar.google.com/calendar/embed?src=mits7cdibmdcdoac6a83996d94%40group.calendar.google.com&amp;ctz=America%2FNew_York" style="width: 70vw;height: 70vh; position: relative; border:0" scrolling="no" frameborder="0"></iframe>
 -->    </div>
</div>
{% if can_add %}
<div class="modal" tabindex="-1" role="dialog" id="event-modal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Add Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
            {% csrf_token %}
        {{form.as_p}}
            <button type="submit" class="btn btn-fucxed btn-primary btn-block">Save</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-fucxed" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
<script type="text/javascript">
document.getElementById("id_name").onkeyup = function() {
    var e = document.getElementById("id_slug");
    if (!e._changed) { e.value = URLify(document.getElementById("id_name").value, 50, true); }
}
    $('#event-modal').on('show.bs.modal', function (event) {
        $('#event-modal input,textarea').addClass('form-control');
        var button = $(event.relatedTarget); // Button that triggered the modal
        var when = button.data('when'); // Extract info from data-* attributes
        console.log(when);
        $('#id_when').val(when);
    });
</script>
{% endblock %}