{% extends "base.html" %}
{% block title %}:: Talk Proposals{% endblock %}
{% block content %}
{% load info %}
<div class="row text-center pt-5">
	<div class="col">
	<table class="table table-striped small table-responsive-sm">
		<thead class="thead-dark">
			<th>Created</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Location</th>
			<th>Responded</th>
		</thead>
	<tbody>
	{% for talk in talks %}
	<tr>
		<td>{{talk.created|timesince}} ago</td>
		<td><a href="mailto:{{talk.requestor.email}}">{{talk.requestor.email}}</a></td><td>{% if talk.requestor.phone %}<a href="tel:{{talk.requestor.phone}}">{{talk.requestor.phone}}</a>{% endif %}</td><td>{{talk.location}}</td><td>{% if talk.responded %}<a title="Convert into action" class="convert-button" data-talkid="{{talk.id}}" href="#">{{talk.responded}}</a>{% else %}
			<button class="btn btn-info respond-button" data-contact="{{talk.requestor.email}}" data-talkid="{{talk.id}}">mark as responded</button>{% endif %}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>	
</div>
</div>
{% endblock %}
{% block js_block %}
<script type="text/javascript">
	$('.respond-button').click(function(){
		var url = '/action/talk/' + $(this).data('talkid') + '/respond';
		if (confirm("Have you contacted " + $(this).data('contact') + "?")) {
			$.post(url, function(){
				location.reload();
			});
		}
	});
	$('.convert-button').click(function(){
		var url = '/action/talk/' + $(this).data('talkid') + '/convert';
		$.post(url, function(data){
			location.href = data.next;
		});
	});
	

</script>
{% endblock %}
