{% extends "base.html" %}

{% block content %}

<div class="row text-center">
	<div class="col-6 offset-3">
		<h1>{{action.name}}</h1>
		<h2>{{action.when}}</h2>
		<p class="text-left">{{action.description}}</p>
		<hr>
	</div>
</div>
<div class="row mt-4">
	<div class="col-4 offset-4">
		<form method="post"> {% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-group row">
				{{form.email.errors}}
				<label for="{{form.email.id_for_label}}" class="col">Email:</label>
				<div class="col">
					{{form.email}}
				</div>
			</div>
			<div class="form-group row">
				{{form.name.errors}}
				<label for="{{form.name.id_for_label}}" class="col">Your Name:</label>
				<div class="col">
					{{form.name}}
				</div>
			</div>
			<div class="form-group row">
				{{form.role.errors}}
				<label for="{{form.role.id_for_label}}" class="col">Your Role:</label>
				<div class="col">
					{{form.role}}
				</div>
			</div>
			<div class="form-group row">
				{{form.promised.errors}}
				<label for="{{form.promised.id_for_label}}" class="col">I'm Committed!</label>
				<div class="col">
					{{form.promised}}
				</div>
			</div>
			<div class="form-group row mt-4">
				<div class="col offset-3">
					<input class="btn btn-lg btn-primary" type="submit" value="Sign me up!">
				</div>
			</div>
		</form>
	</div>
</div>


{% endblock %}
