{% extends "wiki/base.html" %}
{% load wiki_tags i18n cache sekizai_tags static %}

{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}
{% addtoblock "js" %}
<script>
  $(document).ready(function() {
    $('.wiki-article .article-list ul, .wiki-article .toc ul').addClass('flex-column px-5').find('li').addClass('nav-item');
});
</script>
{% endaddtoblock %}

  <div id="article-container">
    <ul class="nav nav-pills" id="article-menu">
      <li class="nav-item text-center" id="article-title-li">
        <h1 id="article-title">
          {{ article.current_revision.title }}
            {% if article.current_revision.locked %}
              <small><span class="fa fa-lock" title="{% trans "locked" %}"></span></small>
            {% endif %}
        </h1>
      </li>
      {% include "wiki/includes/article_menu.html" %}
    </ul>
      <hr>
    <div class="row pt-3 pb-5">
      <div class="col">
      {% block wiki_contents_tab %}
      {% endblock %}
      </div>
    </div>
  </div>

{% endblock %}

{% block wiki_footer_prepend %}
  <p class="wiki-footer text-right"><em>{% trans "Last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}
