{% extends "wiki/base.html" %}
{% load wiki_tags i18n cache sekizai_tags static %}

{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs.html" %}
{% endblock %}

{% block wiki_contents %}
  <div id="article-container">
    <div class="row">
      <h1 id="article-title" class="col-9 col-sm-6 col-md-5 mb-0">
        {{ article.current_revision.title }}
          {% if article.current_revision.locked %}
            <small><span class="fa fa-lock" title="{% trans "locked" %}"></span></small>
          {% endif %}
      </h1>
      <nav class="col navbar navbar-light navbar-expand-md d-print-none">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#wikiCollapse" aria-controls="wikiCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="wikiCollapse">
          <ul class="navbar-nav ml-auto" id="article-menu">
            {% include "wiki/includes/article_menu.html" %}
          </ul>
        </div>
      </nav>
    </div>
    <hr class="xr-bg-pink">
    <div class="row pt-3 pb-5">
      <div class="col">
      {% block wiki_contents_tab %}
      {% endblock %}
      </div>
    </div>
  </div>

{% endblock %}

{% block wiki_footer_prepend %}
  <p class="wiki-footer text-right"><em>{% trans "Last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}
