{% extends "base.html" %}
{% load sekizai_tags i18n wiki_tags static %}
{% block title %}{% block wiki_pagetitle %}{% endblock %}{% block wiki_site_title %}{% endblock %}{% endblock %}
{% block inline_css %}
{{block.super}}
#article-menu .nav-item,
.breadcrumb {
  font-size: 1rem;
}
.wiki-footer {
  font-size: .5em;
}
.breadcrumb-item {
  text-align: right;
}
.breadcrumb-item .dropdown-toggle {
  padding: 1px 24px;
}
.breadcrumb-item .dropdown-item {
  font-family: FucXed, sans-serif;
  font-size: .8rem;
  color: rgb(255, 193, 30);
}
{% endblock %}
{% block content %}
    {% block wiki_body %}
    <div class="container-fluid pb-1">

      {% wiki_messages %}

      <!-- Reserved for breadcrumbs -->
      {% block wiki_breadcrumbs %}{% endblock %}

      <!-- Main page contents go here -->
      {% block wiki_contents %}{% endblock %}

    </div> <!-- /container -->
{% block wiki_footer_prepend %}{% endblock %}

    {% endblock %}

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static "wiki/js/core.js" %}"></script>
    <!-- Optionally enable responsive features in IE8 -->
    <!-- <script src="{% static "wiki/js/respond.min.js" %}"></script> -->
{% endblock %}
{% render_block "js" %}