<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="ZON_H48TzAPuGJFBRW4tqfRC6d6HnaDvYUFp7xoF9lw" />
{% load static compress %}
    <title>Extinction Rebellion Massachusetts {% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/xr-mass.css' %}" rel="stylesheet">
    <link href="{% static 'css/pygments.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/cropped-favicon-192x192-150x150.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'images/cropped-favicon-192x192.png' %}" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/cropped-favicon-192x192.png' %}" />
    <link rel="preload" as="font" href="{% static 'css/fucxedcaps-v2-webfont.woff2' %}" type="font/woff2" crossorigin="anonymous">

    {% block extrahead %}{% endblock %}

<style type="text/css">
  {% block inline_css %}
/* latin */
@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
    src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url({% static 'css/crimsontext-regular.woff2' %}) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Crimson Text Bold';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: local('Crimson Text Bold'), local('CrimsonText-Bold'), url({% static 'css/crimsontext-bold.woff2' %}) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: "FucXed";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("{% static 'css/fucxedcaps-v2-webfont.woff2' %}") format("woff2"), url("{% static 'css/fucxedcaps-v2-webfont.woff' %}") format("woff");
  }
  {% endblock %}
 </style>

{% load sekizai_tags %}

 {% render_block "css" %}

  <meta property="og:title" content="{% block og_title %}Extinction Rebellion Massachusetts{%endblock%}" />
  <meta property="og:url" content="https://{{request.get_host}}{{request.get_full_path}}" />
  <meta property="og:type" content="website" />
{% block og_image %}
  <meta property="og:image" content="https://{{request.get_host}}{% static 'images/xr-mass.jpg' %}" />
  <meta property="og:image:alt" content="XR Mass logo" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:height" content="1080"/>
  <meta property="og:image:width" content="1920"/>
{% endblock %}{% block og_tags %}
  <meta property="og:description" content="Extinction Rebellion Massachusetts" />
{% endblock %}
    {% block extralinks %} {% endblock %}

</head>
<body>
    {% load news %}
    {% block header %}
    {% banner_message %}

    <nav id="site-nav" class="navbar navbar-expand-lg navbar-dark sticky-top">
      <a href="{% url 'extinctionr.info:index' %}"><img id="header-image" class="img img-responsive" height="80" data-swap="{% static 'images/xrmass-yellow-small.svg' %}" src="{% if page == 'home' %}{% static 'images/xrmass-green-small.svg' %}{% else %}{% static 'images/xrmass.svg' %}{% endif %}" alt="Extinction Rebellion"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% block main_menu %}{% include "menu.html" %}{% endblock %}
      </div>
    </nav>
    {% endblock %}
  <div id="mainbody" class="container-fluid xr-bg-gray" role="main">
{% if messages %}<div class="row pt-4">
<div class="col text-center">
      <ul class="messages list-unstyled">
      {% for message in messages %}
      <li{% if message.tags %} class="text-{{ message.tags }}"{% endif %}>{{ message|safe }}</li> {% endfor %}
    </ul>
</div></div>{% endif %}
      {% block breadcrumb %}{% endblock %}
      {% block default_container %}{% block content %}{% endblock %}{% endblock %}
</div> <!-- mainbody -->
  <footer class="text-center mt-4 mx-0 px-0 pt-4 d-print-none" style="background-color: #1a1a1a;">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/ExtRebMA/" target="_blank" class="social">
          <span class="fa-stack" style="vertical-align: top;">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-stack-1x"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/XRboston" target="_blank" class="social">
          <span class="fa-stack" style="vertical-align: top;">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x"></i>
          </span>
        </a>
      </li>
      
      <li class="list-inline-item">
        <a href="https://www.instagram.com/xrboston/" target="_blank" class="social">
          <span class="fa-stack" style="vertical-align: top;">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fab fa-instagram fa-stack-1x"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a href="https://www.youtube.com/channel/UC0JxJrXXRGF9lmjzdIKGYAw" target="_blank" class="social">
          <span class="fa-stack" style="vertical-align: top;">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fab fa-youtube fa-stack-1x"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="/contact" target="_blank" class="social">
          <span class="fa-stack" style="vertical-align: top;">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fas fa-envelope fa-stack-1x"></i>
          </span>
        </a>
      </li>
    </ul>
    {% if request.user.is_anonymous %}
    <div class="py-0 text-right">
      <a class="pr-4" href="{% url 'login' %}">login</a>
    </div>
    {% endif %}
  </footer>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>{% block extra_js %}{% endblock %}{% block js_block %}{% if form %}{{form.media}}{% endif%}{% endblock js_block %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% render_block "js" %}
<script defer src="{% static "js/fontawesome-all.js" %}"></script>

<script type="text/javascript">
  function findActiveMenu() {
    let active = $('.nav-a[href="' + window.location.pathname + '"]');
    if (active.length > 0) return active;
    let path = window.location.pathname.split('/');
    if (path.length > 1) {
      active = $('.nav-a[href="/' + path[1] + '"]');
      if (active.length > 0) return active;
      active = $('.nav-a[href="/' + path[1] + '/"]');
    }
    return active;
  }
  $(document).ready(function(){
    let active = findActiveMenu();
    active.addClass('active');
    active.parents('.nav-item').children('.nav-link').addClass('active');
    $('#mainbody img').addClass('img img-fluid');
    function swapImages() {
      var elt = $(this);
      var src = elt.attr('src');
      var swap = elt.data('swap');
      elt.attr('src', swap);
      elt.data('swap', src);
    };
    $('#header-image').hover(swapImages, swapImages);
  });
  /*
    Usage is very simple; to block user activity for the page:
      $.blockUI();

    Blocking with a custom message:
      $.blockUI({ message: '<h1><img src="busy.gif" /> Just a moment...</h1>' });

    Blocking with custom style:
      $.blockUI({ css: { backgroundColor: '#f00', color: '#fff'} });

    To unblock the page:
      $.unblockUI();

    If you want to use the default settings and have the UI blocked for all ajax requests, it's as easy as this:
      $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
  */
</script>
</body>
</html>
