{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row mt-0">
	<div class="col p-0">
		<img class="img-responsive w-100" src="{% static 'images/xr-skulls.png' %}" alt="Extinction Rebellion Massachusetts" />
	</div>
</div>
<div class="row mt-4">
	<div class="col text-center">
		<h2 class="text-uppercase">About Extinction Rebellion</h2>
		<p>
Founded in the UK, Extinction Rebellion is being organized by a group called <a href="https://risingup.org.uk/">Rising Up!</a> which has been around since 2016. Now the movement has gone international and is growing every day!</p>

<p>We are a strictly non-violent movement, whose overall ambition is an international rebellion that helps humanity to turn quickly onto a course that is compatible with life on earth and to build resilient communities in the face of ecological and societal crisis. We operate under the principals of <a href="https://www.holacracy.org/">Holocracy</a> with a decentralized structure.</p>

<p>Extinction Rebellion welcomes all people, regardless of race, gender identity, religion, political affiliation, age, ethnicity, economic background, etc. This movement is about all of us! We are you! Anyone who follows our 10 principals and values can take action in the name of Extinction Rebellion and <em>Rising Up!</em></p>
	</div>
</div>
<div class="row mt-4">
	<div class="col text-center">
		<h1>Principles &amp; Values</h1>
	</div>
</div>
<div class="row">
	<div class="col-6" style="background-color:rgba(247, 238, 106, 0.701961);">
		<ol class="p-4 m-3">
			<li><span class="text-uppercase font-weight-bolder">We have a shared vision of change</span> Creating a world that is fit for the next 7 generations to live in.</li>
			<li><span class="text-uppercase font-weight-bolder">We set our mission on what is necessary</span> Mobilizing 3.5% of the population to achieve system change.</li>
			<li><span class="text-uppercase font-weight-bolder">We need a regenerative culture</span> Creating a culture which is healthy, resilient and adaptable.</li>
			<li><span class="text-uppercase font-weight-bolder">We openly challenge ourselves and this toxic system</span> Leaving our comfort zones to take action for change.</li>
			<li><span class="text-uppercase font-weight-bolder">We value reflecting and learning</span> Following a cycle of action, reflection, learning, and planning for more action. Learning from other movements and contexts as well as our own experiences.</li>
		</ol>
	</div>
	<div class="col-6"  style="background-color:rgba(247, 238, 106, 0.701961);">
		<ol class="p-4 m-3" start="6">
			<li><span class="text-uppercase font-weight-bolder">We welcome everyone and every part of everyone</span> Working actively to create safer and more accessible spaces.</li>
			<li><span class="text-uppercase font-weight-bolder">We actively mitigate for power</span> Breaking down hierarchies of power for more equitable participation

</li>
			<li><span class="text-uppercase font-weight-bolder">We avoid blaming and shaming</span> We live in a toxic system, but no one individual is to blame.

			<li><span class="text-uppercase font-weight-bolder">We are a non-violent network</span> Using nonviolent strategy and tactics as the most effective way to bring about change.

</li>
			<li><span class="text-uppercase font-weight-bolder">We are based on autonomy and decentralization</span> We collectively create the structures we need to challenge power.

</li>
		</ol>
	</div>
</div>
<div class="row mt-4">
	<div class="col text-center">
		<h3 class="text-uppercase">Aims</h3>
		<ul class="list-unstyled">
			<li class="m-3"><h4 class="text-uppercase font-weight-lighter">One</h4>
To show to radical people (and internationally) that it is possible to have an “impossible” plan and carry out a rebellion – however small (or large!) and thus increase the “<a href="https://en.wikipedia.org/wiki/Overton_window">overton window</a>” of acceptable discourse on the ecological crisis. </li>

			<li class="m-3"><h4 class="text-uppercase font-weight-lighter">Two</h4>
To create a national conversation about the ecological crisis and climate breakdown – including that our families, communities, society, and state are facing existential threat. This includes to discuss our demands with the government and political parties. Also to support further uprisings to demand change off the back of the door we open.</li>

			<li class="m-3"><h4 class="text-uppercase font-weight-lighter">Three</h4>
To build structure, community, and test prototypes in preparation for the coming structural collapse of the regimes of western “democracies” - now seen as inevitable due to stored up crisis. Thus preparing a foundation to transform society and resist fascism/other extremes. This includes creating <em>Rising from the Wreckage</em> &mdash; a Citizens Assembly based on <a href="https://en.wikipedia.org/wiki/Sortition">sortition</a>.</li>

			<li class="m-3">
Our overall ambition is an international rebellion that helps humanity to turn quickly onto a course that is compatible with life on earth. However we are unattached to this outcome, we also make these valiant efforts, to lead an honorable life in this time of grief, destruction and unraveling.</li>

		</ul>
	</div>
</div>
{% endblock %}