{% extends "base.html" %}
{% load static %}
{% block og_tags %}
  <meta property="og:description" content="Extinction Rebellion is a strictly non-violent movement, whose overall ambition is an international rebellion that helps humanity to turn quickly onto a course that is compatible with life on earth, and to build resilient communities in the face of ecological and societal crisis." />
{% endblock %}
{% block inline_css %}
{{block.super}}
.principle-id {
    font-family: FucXed, sans-serif;
	color: white;
	font-size: 2.25rem;
	line-height: 2.2rem;
}

.principles p {
	font-size: 1rem;
}

@media (min-width: 576px) {
	.px-lg-8 {
		padding-left: 10rem !important;
		padding-right: 10rem !important;
	}
}
{% endblock %}

{% block content %}
<div class="row">
	<div class="banner position-relative w-100">
		<img class="img-fluid w-100" src="{% static 'images/bridge-meditation-banner.jpg' %}" alt="Extinction Rebellion Boston" />
		<div class="banner-title">About XR</div>
	</div>
</div>

<div class="row px py-5 bg-white">
	<div class="col-8 col-text">
<p>Extinction Rebellion is a strictly non-violent movement, whose overall ambition is an international rebellion that helps humanity to turn quickly onto a course that is compatible with life on earth, and to build resilient communities in the face of ecological and societal crisis. We operate under the principles of <a href="https://www.holacracy.org/">Holacracy</a> with a decentralized structure.</p>
<br>
<p>Founded by <a href="https://risingup.org.uk/">Rising Up!</a> in the UK, Extinction Rebellion took its first acts of civil disobedience  in November 2018, as 6000 rebels shut down five London bridges. Immediately after this, the movement grew rapidly to become an international uprising which now spans over 200 chapters worldwide.</p>
<br>
<p>Extinction Rebellion welcomes all people, regardless of race, sexual orientation, gender identity, religion, political affiliation, age, ethnicity, economic background, etc. This movement is about all of us! We are you! Anyone who follows our 10 principles and values can take action in the name of Extinction Rebellion.</p>
	</div>
</div>

<div class="row pt-5 px xr-bg-gray justify-content-center">
	<div class="col-lg-11 col-md-10 col-12 px-lg-4 px-md-0 p-0">
		<h2 class="text-uppercase p-0">Our Mission</h2>
	</div>
</div>

<div class="row py-2 px xr-bg-gray justify-content-center">
    <div class="col-12 ml-lg-5 p-0 col-lg-2 col-md-10 xr-bg-red">
		<div class="text-lg-center text-fucxed p-3 pt-lg-4 display-1">01</div>
	</div>
	<div class="col-lg-8 col-md-10 col-12 bg-white p-4 mr-lg-5 mr-0">
		<p>To show to people (and internationally) that it is possible to have an “impossible” plan and carry out a rebellion – however small (or large!) and thus increase the “<a href="https://en.wikipedia.org/wiki/Overton_window">overton window</a>” of acceptable discourse on the ecological crisis.</p>
	</div>
</div>
  
<div class="row py-2 px xr-bg-gray justify-content-center">
    <div class="col-12 ml-lg-5 p-0 col-lg-2 col-md-10 xr-bg-red">
		<div class="text-lg-center p-3 pt-lg-4 text-fucxed display-1">02</div>
	</div>
	<div class="col-lg-8 col-md-10 col-12 bg-white p-4 mr-lg-5 mr-0">
		<p>To create a national conversation about the ecological crisis and climate breakdown – including that our families, communities, society, and state are facing existential threat. This includes to discuss our demands with the government and political parties. Also to support further uprisings to demand change off the back of the door we open.</p>
	</div>
</div>

<div class="row pt-2 px xr-bg-gray justify-content-center">
    <div class="col-12 ml-lg-5 p-0 col-lg-2 col-md-10 xr-bg-red">
		<div class="text-lg-center p-3 pt-lg-4 text-fucxed display-1">03</div>
	</div>
	<div class="col-lg-8 col-md-10 col-12 bg-white p-4 mr-lg-5 mr-0">
		<p>To build structure, community, and test prototypes in preparation for the potential structural collapse of the regimes of western “democracies” - now seen as probable due to stored up crisis. Thus preparing a foundation to transform society and resist fascism/other extremes. This includes creating <em>Rising from the Wreckage</em> &mdash; a Citizens Assembly based on <a href="https://en.wikipedia.org/wiki/Sortition">sortition</a>.</p>
	</div>
</div>

<a name="principles"></a>
<div class="row pt-5 px xr-bg-gray justify-content-center">
	<div class="col-lg-11 col-md-10 col-12 px-lg-4 px-md-0 p-0">
		<h2 class="text-uppercase">Our Principles &amp; Values</h2>
	</div>
</div>
<div class="row pt-2 px xr-bg-gray pb-5 justify-content-center principles">
	<div class="col-sm-12 col-md-10 col-xl-5 pl-0">
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">01</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We have a shared vision of change</p> 
				<p>Creating a world that is fit for the next 7 generations to live in.</p>
			</div>
		</div>
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">02</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We set our mission on what is necessary</p> 
				<p>Mobilizing 3.5% of the population to achieve system change.</p>
			</div>
		</div>
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">03</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We need a regenerative culture</p> 
				<p>Creating a culture which is healthy, resilient and adaptable.</p>
			</div>
		</div>
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">04</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We openly challenge ourselves and this toxic system</p> 
				<p>Leaving our comfort zones to take action for change.</p>
			</div>
		</div>
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">05</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We value reflecting and learning</p> 
				<p>Following a cycle of action, reflection, learning, and planning for more action. Learning from other movements and contexts as well as our own experiences.</p>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-10 col-xl-5 pl-0">
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">06</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We welcome everyone and every part of everyone</p> 
				<p>Working actively to create safer and more accessible spaces.</p>
			</div>
		</div>
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">07</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We actively mitigate for power</p> 
				<p>Breaking down hierarchies of power for more equitable participation.</p>
			</div>
		</div>
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">08</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We avoid blaming and shaming</p> 
				<p>We live in a toxic system, but no one individual is to blame.</p>
			</div>
		</div>
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">09</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We are a non-violent network</p> 
				<p>Using non-violent strategy and tactics as the most effective way to bring about change.</p>
			</div>
		</div>
		<div class="row mx-1 mb-4 xr-bg-dark-blue">
			<div class="col-12 col-lg-2 p-2 pt-lg-3 principle-id text-lg-center">10</div>
			<div class="col p-3 bg-white">
				<p class="text-bold">We are based on autonomy and decentralization</p> 
				<p>We collectively create the structures we need to challenge power.</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}