{% extends "base.html" %}

{% block content %}
{% if request.user.is_staff %}
<div class="row pt-5">
    <div class="col col-lg-8 offset-lg-2">
        <h2 class="text-center">Coordinator Links</h2>
        <p>
            Here are some helpful links for common coordinator tasks:
        </p>
        <ul>
            <li>        
                <a href="/admin/actions/action/add/">Add an Action</a><br>
                Actions not marked as public will not show up on <a href="/action/">Events</a>
            </li>
            <li>
                <a href="/admin/info/pressrelease/add/">Add a Press Release</a><br>
                Press releases will only be visible after the date that you set.
            </li>
            <li>
                <a href="/admin/info/photo/add/">Upload a Photo</a>
            </li>
            <li>
                <a href="/talk/list/">List Talk Proposals</a>
            </li>
            <li>
                <a href="/circle/person/find/">Find People</a>
            </li>
            <li>
                <a href="/todo/ticket/add/">Report a problem or request a change</a>
            </li>
        </ul>
        <p class="pt-3">You can contribute to this site. <a href="https://github.com/cheradenine/extinctionr">The code is open source!</a></p>
    </div>
</div>
{% else %}
<div class="row pt-5">
    <div class="col-text">
        <p>Please <a href="{% url 'login' %}?next=/c">Login</a> to see this page</p>
    </div>
</div>
{% endif %}
{% endblock %}