{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row mt-0">
	<div class="col">
		<img class="img-responsive w-100" src="{% static 'images/climate-change.jpg' %}" alt="Climate Change" />
	</div>
</div>
<div class="row mt-4">
	<div class="col text-center">
		<h2 class="text-uppercase">Global Warming Facts &amp; Resources</h2>
		<p class="lead">
Founded in the UK, Extinction Rebellion is being organized by a group called <a href="https://risingup.org.uk/">Rising Up!</a> which has been around since 2016. Now the movement has gone international and is growing every day!</p>

<p>We are a strictly non-violent movement, whose overall ambition is an international rebellion that helps humanity to turn quickly onto a course that is compatible with life on earth and to build resilient communities in the face of ecological and societal crisis. We operate under the principals of <a href="https://www.holacracy.org/">Holocracy</a> with a decentralized structure.</p>

<p>Extinction Rebellion welcomes all people, regardless of race, gender identity, religion, political affiliation, age, ethnicity, economic background, etc. This movement is about all of us! We are you! Anyone who follows our 10 principals and values can take action in the name of Extinction Rebellion and <em>Rising Up!</em></p>
	</div>
</div>

{% endblock %}