{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}
{% block inline_css %}
blockquote {
    border-left: 1px solid black;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote p {
    display: inline;
}
{{block.super}}
{% endblock %}
{% block content %}
<div class="row px py-5 bg-white justify-content-center">
    <div class="col-8 col-text col">
<h1 class="xr-purple">EXTINCTION REBELLION BOSTON’S RESPONSE TO CORONAVIRUS</h1>
<p>
<blockquote>
    <em>
As new information surrounding COVID-19 continues to surface, 
Extinction Rebellion Boston stands by our 
<a href="{% url 'extinctionr.info:page' page='demands' %}">demands</a> and 
<a href="{% url 'extinctionr.info:page' page='about' %}#principles">principles.</a> 
It is more important than ever to remember that Extinction Rebellion 
exists to protect life, both now and for future generations. We must work 
together to make public health our number one priority, listening to advice 
from the scientific community, and caring for those who are most vulnerable.
</em>
</blockquote>
</p>

<h4>EVENT CANCELLATIONS</h4>
<p>
Extinction Rebellion Boston is cancelling all in-person actions 
and meetings until transmission of the Coronavirus is under control 
and begins to dwindle. We do not want anyone to be exposed to the 
virus at an XR meeting or action - we want to keep everyone safe and 
healthy. We will continue our work using social media, holding zoom 
meetings, and making calls. We encourage everyone to pressure their 
local, state, and federal officials to begin implementing aggressive 
policies that will protect the future of life on earth from the imminent 
threats of the climate and ecological crisis. 
</p>

<h4>STAYING SAFE WITH CORONAVIRUS</h4>
<p>
We urge everyone to take this public health concern seriously, 
but not to panic. We live in a global, interconnected world, 
where our actions affect more than just ourselves. 
It’s important we do everything we can as a movement to 
Flatten the Curve and help keep our communities safe. 
Read more about what this means here: <a href="https://www.flattenthecurve.com">www.flattenthecurve.com.</a>
</p>

<p>
For regular updates about COVID-19, you can visit the <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">World Health Organization</a> or 
<a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC websites</a>, 
as well as <a href="https://www.boston.gov/news/coronavirus-disease-2019-covid-19-boston">Boston’s Coronavirus page</a>. 
The <a href="https://docs.google.com/document/d/1l18xoacLVw1rWnxiVS-q6_xzcPpdXB-7tBJFBHEzRAI/edit" target="_blank">Extinction Rebellion Global Regen</a> document provides helpful tips and 
thoughts on regeneration, resilience, and community in the time of crisis.
</p>

<h4>Tell the Truth</h4>
<p>
Monica Maggioni, a veteran journalist and the CEO of RaiCom, a division of 
Italian public television, discusses how denialism led to
<a href="https://www.washingtonpost.com/opinions/2020/03/13/italy-we-live-silence-die-silence-wait/">
increased death rates in Italy</a>, 
“For many Italians, the normal warnings about this virus were 
simply not enough to change behavior. Denial comes too easily, perhaps. 
It was more convenient to blame some foreign germ-spreader, or pretend 
that the news was unreal.” This is a warning of the chaos that will ensue 
if governments, media, and individuals continue to deny the severity of the 
climate crisis and don't take urgent and immediate action. 
</p>

<h4>Links between Coronavirus and the Climate Crisis</h4>
<p>
The coronavirus crisis has many parallels to the climate and ecological crisis. 
Both reveal our global interconnectedness and vulnerability. Both require 
truth-telling and cooperation to reduce suffering and save lives. 
Both disproportionately threaten vulnerable populations, from the elderly to 
those with existing medical conditions. Neither can be solved while politicians 
prioritize propping up big businesses over the health of people and planet and 
if we do not have collective structures in place to deal with crisis in an 
organized fashion, caring for people’s economic and physical well-being with 
a proactive plan that we put into place before it’s too late.
</p>
<p>
As our climate and ecosystems deteriorate, outbreaks like the Coronavirus will 
become more probable. The migration patterns of wild animals are changing in 
response to human-induced rising temperatures. Wildlife carries viruses that 
can become pandemics in places where the human population is dense and growing. 
Because our contact with wildlife is increasing, there’s a higher likelihood of 
us contacting these viruses. Land use, deforestation, road building, mining, 
and agricultural intensification are forcing wildlife to take refuge in human 
populated areas as we destroy their natural habitats for our own use.
</p>

<h4>A Just Transition: Stimuli Packages</h4>
<p>
As world governments pass huge economic spending packages in response to 
this crisis, this is an important opportunity to choose policies that move 
towards carbon neutrality and a just transition rather than propping up the 
dying fossil fuel industry. These stimulus packages must help the most 
marginalized rather than deepen social injustice.
</p>

<div class="text-center">
    <img src="{% static 'images/assembly.png' %}" width="128">
</div>

<h4>Regenerative Culture: We are in this together</h4>
<p>
At a time when the coronavirus is disrupting business as usual, grounding 
flights and halting industry, let’s disrupt in a different way. Let’s disrupt 
the hyper-individualistic society in which we live. Let’s take this time to slow 
down, safely connect with family and friends, and remember all we have to be 
grateful for. Let’s build the more loving, caring society that our hearts 
know is possible, beyond the story of separation. Love in the time of coronavirus 
means collectively protecting each other from infection, especially those most 
vulnerable. It is understandable to feel afraid at a time like this. Just as 
with the climate and ecological crisis, difficult emotions such as fear, 
grief, and anger are bound to surface. But we don't have to hold these 
emotions alone. More than ever, we need each other, Rebels! We need your 
enthusiasm, compassion, creativity and courage. We need to stay connected, 
rather than let isolation and fear take hold. Your local neighborhood group 
is a great way to do that.
</p>
<p>
    <strong>
Please join us as we move our work online for now, and once everything settles 
with the virus, we will see you in the streets.
    </strong>
</p>




<div class="text-center">
    <img src="{% static 'images/heart-sm.png' %}" width="128">
</div>
	</div>
</div>
{% endblock %}