{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col">
		<h1 class="text-center">Our Demands for the Boston Globe</h1>
		<p class="lead">
		</p>
		<ol>
<li>The Editor, Brian McGrory, and John Henry, the principal owner of the Globe and Red Sox, agree to a meeting with a delegation from Extinction Rebellion to discuss how the Boston Globe can tell the full truth on the climate and ecological emergency.</li>

<li>The Boston Globe declares a climate and ecological emergency.</li>

<li>The Boston Globe places the climate emergency as its top editorial and corporate priority by adopting a climate emergency strategic plan, at the level of urgency placed on informing the public about the Second World War.</li>

<li>The Boston Globe ensures that all articles, opinions, and editorials do not misrepresent the scientific consensus on the climate crisis and its impacts on life.</li>

<li>The Boston Globe devotes more attention to local and regional environmental issues and climate activism, including protest, advocacy, as well as environmental conservation and regeneration efforts - specifically those with direct impacts on POC, Indigenous, Black and poor communities.</li>

<li>The Boston Globe and its ownership divest all pension funds, investments, and bank accounts from fossil fuel corporations and their bankers, as well as disclose all funding from these entities, including income from advertisements.</li>

<li>The Boston Globe, its subsidiaries and its supply chain agrees to be zero-carbon by 2025.</li>

<li>The Boston Globe takes the lead on encouraging other local, national and global media corporations to join the global efforts to save humanity & nature from this existential crisis.</li>
</ol>

	</div>
</div>


<div class="row mt-4">
	<div class="col-5 offset-3 text-center">
		<h4>Signatories</h4>
		<div id="signees"><!-- this will be dynamically filled in --></div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-6 offset-4" id="signup_form">
		<h1 class="offset-2">Sign up</h1>

		<form action="{% url 'extinctionr.actions:signup' action_slug='demands' %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="next" value="/demands">
			<input type="hidden" name="role" value="agree">
			<div class="form-group row">
				<label for="signup_email" class="col-2">Email:</label>
				<div class="col">
					<input type="email" name="email" id="signup_email">
				</div>
			</div>
			<div class="form-group row">
				<label for="signup_name" class="col-2">Name:</label>
				<div class="col">
					<input type="text" name="name">
				</div>
			</div>
			<div class="form-group row mt-4">
				<div class="col-2 offset-1 text-center">
					<input class="btn btn-lg btn-primary" type="submit" value="I agree with these demands">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script>
	$('#signees').ready(function(){
		$.get("{% url 'extinctionr.actions:attendees' action_slug='demands' %}?fmt=html", function(data){
			$('#signees').html(data);
		});
	});
</script>
{% endblock %}