{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}

{% block content %}
<div class="row pt-5 border-bottom">
  <div class="col-text text-center">
    <p>Extinction Rebellion is an international apolitical network using non-violent direct action to persuade governments to act on the Climate and Ecological Emergency. </p>
    <p>We have four demands in the US:</p>
  </div>
</div>
<div class="row border-bottom py-3 mt-4">
  <div class="col-3 text-center">
    <h1 class="display-1">01</h1>
  </div>
  <div class="col">
    <h2>Tell The Truth</h2>
    <p>The government must tell the truth by declaring a climate and ecological emergency, working with other institutions to communicate the urgency for change.</p>
  </div>
</div>
<div class="row border-bottom py-3">
  <div class="col-3 text-center">
    <h1 class="display-1">02</h1>
  </div>
  <div class="col">
    <h2>Act Now</h2>
    <p>The government must take immediate action to halt biodiversity loss and to reduce greenhouse gas emissions to net zero by 2025.</p>
  </div>
</div>
<div class="row border-bottom py-3">
  <div class="col-3 text-center">
    <h1 class="display-1">03</h1>
  </div>
  <div class="col">
    <h2>Beyond Politics</h2>
    <p>The government must create and be led by the decisions of a Citizens' Assembly on climate and ecological justice.</p>
  </div>
</div>
<div class="row py-3">
  <div class="col-3 text-center">
    <h1 class="display-1">04</h1>
  </div>
  <div class="col">
    <h2>Just Transition</h2>
    <p>We demand a just transition that prioritizes the most vulnerable people and establishes indigenous sovereignty; establishes reparations and remediation led by and for Black people, Indigenous people, people of color and poor communities for years of environmental injustice, establishes legal rights for ecosystems to thrive and regenerate in perpetuity, and repairs the effects of ongoing ecocide to prevent extinction of humanity and all species, in order to maintain a livable, just planet for all.
    </p>
  </div>
</div>
{% endblock %}