{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}
{% block inline_css %}
{{block.super}}
.xr-graphic {
  position: absolute;
  right:0;
  max-width: none !important;
  width: auto !important;
  height: 100% !important;
}
.clip-80 {
  clip-path: inset(0 20% 0 0);
  transform:translateX(20%);
}
.clip-50 {
  clip-path: inset(0 52% 0 0);
  transform:translateX(52%);
}

{% endblock %}
{% block content %}
<div class="row">
	<div class="banner position-relative w-100">
    <img class="img-fluid w-100" src="{% static 'images/banner-demands.jpg' %}" alt="Extinction Rebellion Massachusetts" />
	  <div class="banner-title">Our Demands</div>
	</div>
</div>

<div class="row px py-5 bg-white">
  <div class="col-8 col-text">
    <p>Extinction Rebellion is an international apolitical network using non-violent direct action to persuade governments to act on the Climate and Ecological Emergency.</p>
    <br>
    <p>We have four demands in the US:</p>
  </div>
</div>

<div class="row justify-content-center px pb-2 pt-5 xr-bg-gray">
  <div class="col-12 col-lg-2 align-content-center p-0 text-lg-center xr-bg-pink">
    <h1 class="display-1 p-3 p-lg-2 pt-lg-4 m-0">01</h1>
  </div>
  <div class="col-lg-7 bg-white p-0">
    <div class="p-3 py-lg-4 pl-lg-4 pr-lg-5">
      <h2>Tell The Truth</h2>
      <div>
        The government must tell the truth by declaring a climate and ecological emergency, working with other institutions to communicate the urgency for change.
      </div>
    </div>
  </div>
  <div class="col-lg-1 bg-white px-2">
    <img class="xr-graphic clip-80" src="{% static 'images/SaudiGazelle_small.png' %}">
  </div>
</div>

<div class="row justify-content-center px py-2 xr-bg-gray">
  <div class="col-12 col-lg-2 align-content-center p-0 text-lg-center xr-bg-light-blue">
    <h1 class="display-1 p-3 p-lg-2 pt-lg-4 m-0">02</h1>
  </div>
  <div class="col-lg-7 bg-white p-0">
    <div class="p-3 py-lg-4 pl-lg-4 pr-lg-5">
      <h2>Act Now</h2>
      <div>
        The government must take immediate action to halt biodiversity loss and to reduce greenhouse gas emissions to net zero by 2025.
      </div>
    </div>
  </div>
  <div class="col-lg-1 bg-white px-3 px-2">
    <img class="xr-graphic clip-50" src="{% static 'images/SandTimer_small.png' %}">
  </div>
</div>
<div class="row align-middle justify-content-center px py-2 xr-bg-gray">
  <div class="col-12 col-lg-2 align-content-center p-0 text-lg-center xr-bg-warm-yellow">
    <h1 class="display-1 p-3 p-lg-2 pt-lg-4 m-0">03</h1>
  </div>
  <div class="col-lg-7 bg-white p-0">
    <div class="p-3 py-lg-4 pl-lg-4 pr-lg-5">
      <h2>Beyond Politics</h2>
      <div>
        The government must create and be led by the decisions of a Citizens' Assembly on climate and ecological justice.
      </div>
    </div>
  </div>
  <div class="col-lg-1 bg-white px-2">
    <img class="xr-graphic clip-50" src="{% static 'images/Honey_Bee_V2_small.png' %}">
  </div>
</div>
<div class="row align-middle justify-content-center px pt-2 pb-5 xr-bg-gray">
  <div class="col-12 col-lg-2 align-content-center p-0 text-lg-center xr-bg-light-green">
    <h1 class="display-1 p-3 p-lg-2 pt-lg-4 m-0">04</h1>
  </div>
  <div class="col-lg-7 bg-white p-0">
    <div class="p-3 py-lg-4 pl-lg-4 pr-lg-5">
      <h2>Just Transition</h2>
      <div pl-2>
        There must be a just transition that prioritizes the most vulnerable people and establishes indigenous sovereignty and remediation led by and for communities suffering environmental injustice.
      </div>
    </div>
  </div>
  <div class="col-lg-1 bg-white px-2">
    <img class="xr-graphic clip-50" src="{% static 'images/orchid_small.png' %}">
  </div>
</div>

<div class="row px py-5 bg-white">
  <div class="col-8 col-text">
    <h2>More information about the possible solutions</h2>
    <div class="my-4">
      <p class="text-bold">Demands 1 & 2</p>
      <p><a href="https://www.theclimatemobilization.org/">The Climate Mobilization</a>, <a href="https://bze.org.au/">Beyond Zero Emissions</a>,
      <a href="https://www.rapidtransition.org/">Rapid Transition Aliance</a>, <a href="https://www.greennewdealgroup.org/">Green New Deal Group</a>,
      <a href="https://www.campaigncc.org/climatejobs">One Million Climate Jobs</a> and <a href="https://www.breakthroughonline.org.au/">The Breakthrough Institute</a>.</p>
      <br> 
      <p class="text-bold">Demand 3</p>
      <p><a href="https://www.xrdemocracy.uk/">Future Democracy Hub</a>, <a href="https://participedia.net/">Participedia.net</a>,
      <a href="https://democracyrd.org/">Democracy R&D</a>, <a href="https://www.sortitionfoundation.org/">The Sortition Foundation</a></p>
      <br>
      <p class="text-bold">Demand 4</p>
      <ul class="list-unstyled">
        <li>
          <p>Organizations:</p>
          <p><a href="https://www.naacp.org/climate-justice-resources/resource-organizations/">NAACP | Environmental and Climate Justice Resource Organizations</a></p>
          <p><a href="http://greenjusticecoalition.org/">Green Justice Coalition</a></p>
          <p><a href="https://climatejusticealliance.org/about/">Climate Justice Alliance</a></p>
        </li>
        <li>
          <p>Articles:</p>
          <p><a href="https://rebellion.earth/the-truth/about-us/what-is-climate-and-ecological-justice/">Extinction Rebellion: What is climate and ecological justice?</a></p>
          <p><a href="https://www.wbur.org/cognoscenti/2020/06/09/the-links-between-racism-and-the-environment-frederick-hewett">WBUR Editorial: Racial Justice is Climate Justice</a></p>
        </li>
        <li>
          <p>Books:</p>
          <p><a href="https://nyupress.org/9781479861781/toxic-communities/">Toxic Communities: Environmental Racism, Industrial Pollution, and Residential Mobility</a></p>
          <p><a href="https://www.hachettebookgroup.com/titles/harriet-a-washington/a-terrible-thing-to-waste/9780316509428/"> A Terrible Thing to Waste: Environmental Racism and Its Assault on the American Mind</a></p>
          <p><a href="https://nyupress.org/9781479826940/clean-and-white/">Clean and White: A History of Environmental Racism in the United States</a></p>
        </li>
        <li>
          <p>Ecocide:</p>
          <p><a href="https://ecocidelaw.com/">Ecocide Law: One Law to Protect the Earth</a></p>
          <p><a href="https://www.stopecocide.earth/">Stop Ecocide</a></p>
          <p><a href="https://www.smithsonianmag.com/smart-news/toledo-ohio-just-granted-lake-erie-same-legal-rights-people-180971603/">Toledo, Ohio, Just Granted Lake Erie the Same Legal Rights as People</a></p>
          <p><a href="https://theecologist.org/2020/jun/24/french-citizens-assembly-votes-ecocide">French citizens' assembly votes on ecocide</a></p>      
        </li>
      </ul>
    </div>
    <h2 class="pt-5">Full version of the U.S. demands</h2>
    <p><a href="https://extinctionrebellion.us/demands" class="btn btn-lg btn-primary text-uppercase">XR U.S.</a></p>
  </div>
</div>

{% endblock %}