{% extends "base.html" %}
{% load static %}
{% block title %}:: Join Us{% endblock %}
{% block og_tags %}
{% endblock %}

{% block content %}
<div class="row pt-5 border-bottom">
  <div class="col-text text-center">
    <p>Thank you for your donation!</p>
    <p>We gratefully acknowledge the support of the non-profit organization, Regenerating Massachusetts, Inc.</p>
    <p>Your contribution will help support outreach, education activities, art and music production.</p>  
  </div>
</div>
<div class="row py-3 mt-4">
  <div class="col text-center">
    <h2><a href="https://actionnetwork.org/fundraising/raise-awareness-on-the-climate-and-ecological-crisis-in-ma" class="btn btn-lg btn-primary text-uppercase">Donate Now</a></h2>
  </div>
</div>
<div class="row border-bottom">
  <div class="col-text text-center">
    To financially support specific XR actions, please donate directly to the XR members or team organizing the actions.
  </div>
</div>
{% endblock %}