{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col offset-1">
		<h1 class="text-uppercase">Events</h1>
	</div>
</div>
<div class="row">
	<div class="col">
		<p>Stay tuned for additional events, like non-violent disobedience training, organizing meetings, and celebrations!</p>
	</div>
</div>
<div class="row mt-3">
	<div class="col offset-2">
<iframe src="https://calendar.google.com/calendar/embed?src=mits7cdibmdcdoac6a83996d94%40group.calendar.google.com&amp;ctz=America%2FNew_York" style="border: 0" scrolling="no" width="800" height="600" frameborder="0"></iframe>
	</div>
</div>
{% endblock %}