{% extends "base.html" %}
{% block title %} :: Events{% endblock %}
{% block content %}
{% load actions %}
<div class="row pt-5">
	<div class="col text-center">
        {% recent_actions adverb='upcoming' %}
	</div>
</div>
<div class="row mt-3 no-gutters">
	<div class="col">
		<hr>
<iframe src="https://calendar.google.com/calendar/embed?src=mits7cdibmdcdoac6a83996d94%40group.calendar.google.com&amp;ctz=America%2FNew_York" style="width: 70vw;height: 70vh; position: relative; border:0" scrolling="no" frameborder="0"></iframe>
	</div>
</div>
{% endblock %}