{% extends "base.html" %}
{% block title %} :: Calendar{% endblock %}
{% block content %}
{% load actions %}
<div class="row pt-4">
	<div class="col text-center">
        {% recent_actions adverb='upcoming' %}
	</div>
</div>
<div class="row mt-3">
	<div class="no-margin">
	<div class="col offset-2">
<iframe src="https://calendar.google.com/calendar/embed?src=mits7cdibmdcdoac6a83996d94%40group.calendar.google.com&amp;ctz=America%2FNew_York" style="border: 0" scrolling="no" width="800" height="600" frameborder="0"></iframe>
	</div>
	</div>
</div>
{% endblock %}