{% extends "base.html" %}
{% block content %}
{% load actions %}
<div class="row p-3">
	<div class="col">
	<h1 class="display-3 text-uppercase font-weight-bold">Fight For <span class="xr-green">Life</span></h1>
	<p>We are facing an unprecedented global <a href="{% url 'extinctionr.info:page' page='why' %}">ecological crisis</a>. The government is not working to protect us. <a href="https://extinctionrebellion.org.uk/the-truth/about-us/">Extinction Rebellion</a> is an international mobilization for non-violent disobedience against governments&#8217; criminal inaction on climate change.</p>
	</div>
</div>
<div class="row mt-2 p-3">
	<div class="col">
	<h1 class="display-3 text-uppercase font-weight-bold">We Demand:</h1>
<ol><li>That the government tell the truth about the climate and wider  ecological emergency, reverse inconsistent policies and work alongside the media to communicate with citizens.</li><li>That the government enact legally binding policy measures to reduce  carbon emissions to net zero by 2025 and to reduce consumption levels.</li><li>A just transition that prioritizes the most vulnerable people and indigenous sovereignty, and establishes remediation led by and for communities suffering environmental injustice.</li><li>A national Citizen’s Assembly to oversee the changes, as part of creating a democracy fit for purpose.</li></ol>


<p>See the full version of our demands <a href="https://xrebellion.org/xr-us/demands">here</a>. You can participate in many different ways. To work together in the Extinction Rebellion or find out about our events, <a href="{% url 'extinctionr.info:page' page='join' %}">let us know you&#8217;re here.<a></p>
	</div>
</div>
	<h2 class="display-2 text-center"><a class="xr-green" href="{% url 'extinctionr.info:page' page='join' %}">Join Us</a></h2>
<hr>
<div class="row mt-2 p-3">
    <div class="col">
{% recent_actions %}
    </div>
</div>
{% endblock %}