{% extends "base.html" %}
{% load static %}
{% load actions %}
{% block title %}:: Home{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="We are facing an unprecedented global ecological crisis. The government is not working to protect us. Extinction Rebellion Boston is part of an international mobilization for non-violent disobedience against governments' criminal inaction on climate change." />
{% endblock %}
{% block inline_css %}
{{block.super}}
  .home-banner {
    overflow: hidden;
    margin: 0;
    background-color: black;
  }
  .home-banner video {
    opacity: .5;
  }
  .home-banner-text {
    position: absolute;
    font-family: "FucXed";
    font-size: 1.5rem;
    color:white;
    top: 10%;
    left: 0;
    width: 100%;
  }
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, .5)
  }
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */  
    padding-top: 25px;
    width: 300%; /* enlarge beyond browser width */
    left: -100%; /* center */
  }
  .video-wrapper iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 5%;
    magin: auto;
    display: block;
  }
  .btn-outline-light {
    text-decoration: none !important;
  }
  @media (min-width: 768px) {
    .home-banner-text {
      font-size: 3rem;
    }
    .btn-outline-light {
      font-size: 1.5rem;
      border-width: 3px;
    }
  }
  @media (min-width: 576px) {
    .btn-outline-light {
      border-width: 3px;
    }
  }
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="home-banner position-relative w-100 text-center overflow-hidden">
    <div class="video-wrapper">
      <iframe
        class="video"
        src="https://www.youtube.com/embed/S62npzDFzzU?controls=0&playlist=S62npzDFzzU&mute=1&&autoplay=1&loop=1&modestbranding=1&showinfo=0" 
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="video-overlay">
    </div>
    <div class="home-banner-text px-2 text-center">
      <span class="xr-green">Join Us This Earth Day</span><br>
      <span class="small">For The</span></br>
      <span class="xr-green">Freedom From Fossil Fuels Tour</span>
      <p>
        <a href="/action/fossil-fuel-freedom-tour/" class="mt-sm-2 mt-md-4 btn btn-outline-light text-uppercase">
          Learn More
        </a>
      </p>
    </div>
  </div>
</div>


<div class="row px py-5">
  <div class="text-center w-100">
    <h1 class="display-4">Rebel For <span class="xr-green">Life</span></h1>
    We are facing an unprecedented global ecological crisis.
  The government is not working to protect us.<br>
  Extinction Rebellion is an international mobilization for non-violent disobedience against governments'<br>
  criminal inaction on climate change and the wider ecological emergency.
  </div>
</div>

<div class="row mt-2 py-5" style="background-color: white;">
    <div class="text-center w-100">
{% recent_actions %}
    </div>
</div>

<div class="row py-5" class="xr-bg-gray">
  <div class="col px-5 text-center">
  <h1>Find your local group</h1>
  This site is primarily focused on the greater Boston area and XR is active across the entire state.<br>
  Find and connect with your local group by searching on an <a href="{% url 'extinctionr.info:page' page='groups/' %}">interactive map:</a>
  <div>
  <a href="{% url 'extinctionr.info:page' page='groups/' %}"><img src="{% static 'images/map_thumbnail.jpg' %}" width=300 alt="map thumbnail"></a>
  </div>
  Extinction Rebellion is part of a global mass mobilization.<br>We are now active in 56 countries and 
  645 local groups.<br>Search for XR groups and events <a href="https://rebellion.global/">around the world!</a>
  </div>
</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$('.home-banner').hover(function(e){
    e.preventDefault();    
});
</script>
{% endblock %}