{% extends "base.html" %}
{% load static %}
{% block title %}:: Home{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="We are facing an unprecedented global ecological crisis. The government is not working to protect us. Extinction Rebellion Massachusetts is part of an international mobilization for non-violent disobedience against governments' criminal inaction on climate change." />
{% endblock %}
{% block inline_css %}
{{block.super}}
  .banner {
    background: black;
    padding: 0px;
  }

  .banner img {
    opacity: 0.5;
  }

  .banner-msg {
    font-family: "FucXed";
    font-size: 4rem;
    color:white;
    top:25%;
    left:0;
  }
{% endblock %}

{% block content %}
{% load actions %}
<div class="row">
  <div class="banner position-relative w-100 text-center">
    <img class="img-fluid w-100" src="{% static 'images/banner-home.jpg' %}" alt="Extinction Rebellion Massachusetts" />
    <div class="banner-msg position-absolute text-center w-100">
      <div>
          <span class="xr-green">Pray for the dead</span><br>
          Fight like hell for the living
      </div>
      <h5 class="position-absolute border-menu p-2" style="left:45%;right:45%;">
      <a href="{% url 'extinctionr.info:page' page='welcome/' %}" style="color:white;">Join Us</a></h5>
    </div>
  </div>
</div>

<div class="row" style="padding-top:5em;padding-bottom:5em;">
  <div class="text-center w-100">
    <h1 class="display-4 pb-3">Rebel For <span class="xr-green">Life</span></h1>
    We are facing an unprecedented global ecological crisis.
  The government is not working to protect us.<br>
  Extinction Rebellion is an international mobilization for non-violent disobedience against governments'<br>
  criminal inaction on climate change.
  </div>
</div>

<div class="row mt-2" style="padding-top:5em;background-color: lightgray;">
    <div class="text-center w-100">
{% recent_actions %}
    </div>
</div>
{% endblock %}