{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row mt-0">
	<div class="col">
		<img class="img-responsive w-100" src="{% static 'images/xr-mass.png' %}" alt="Extinction Rebellion Massachusetts" />
	</div>
</div>
<div class="row mt-4">
	<div class="col text-center">
		<h1 class="text-secondary text-uppercase">Join the Rebellion</h1>
		<p class="display-4">Extinction Rebellion is an international non-violent movement fighting to save the future of humanity and life on Earth in the face of global climate change</p>
		<a href="" class="btn btn-info">Find your local chapter</a>
	</div>
</div>
<div class="row mt-4">
	<div class="col text-center">
		<h2 class="text-secondary text-uppercase">Our Demands</h2>
	</div>
</div>
<div class="row mt-3">
	<div class="col">
		<img class="img-thumbnail" src="{% static 'images/tell-the-truth.png' %}" alt="Tell The Truth" />
		<p class="lead mt-1">
			The Government must tell the truth about the climate and wider ecological emergency, reverse inconsistent policies and work alongside the media to communicate with citizens.
		</p>
	</div>
	<div class="col">
		<img class="img-thumbnail" src="{% static 'images/net-zero.png' %}" alt="Net Zero by 2025" />
		<p class="lead mt-1">
			The Government must enact legally binding policy measures to reduce carbon emissions to net zero by 2025 and to reduce consumption levels.
		</p>
	</div>
	<div class="col">
		<img class="img-thumbnail" src="{% static 'images/citizens-assembly.png' %}" alt="Citizen's Assembly" />
		<p class="lead mt-1">
			A national Citizen’s Assembly to oversee the changes, as part of creating a democracy fit for purpose.
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<img class="img-responsive w-100" src="{% static 'images/desert.jpg' %}" alt="desert scene" />
	</div>
</div>
<div class="row mt-3">
	<div class="col text-center">
		<h5 class="text-secondary text-uppercase">Why this is important</h5>
		<h2>Is Climage Change Serious?</h2>
		<p>The U.N. and the U.S. have released detailed reports on the dire situation we are in. Climate change is not just an environmental crisis, it is a humanitarian crisis as well, affecting the entire world.</p>
		<a class="btn btn-info" href="{% url 'extinctionr.info:page' page='climate-change' %}">Learn More</a>
	</div>
	<div class="col text-center">
		<h5 class="text-secondary text-uppercase">About Us</h5>
		<h2>Principals &amp; Values</h2>
		<p>Founded in the UK, Extinction Rebellion is being organized by a group called <a href="https://risingup.org.uk/">Rising Up</a> which has been around since 2016. Now the movement has gone international and is growing every day!</p>
		<a class="btn btn-info" href="{% url 'extinctionr.info:page' page='about' %}">Learn More</a>
	</div>
	<div class="col text-center">
		<h5 class="text-secondary text-uppercase">Take Action</h5>
		<h2>Join Us!</h2>
		<p>Ready to get involved? Become a part of the Rebellion in Massachusetts! This movement welcomes everyone and is run by every day people. No prior experience in activism is required!</p>
		<a class="btn btn-info" href="{% url 'extinctionr.info:page' page='join' %}">Learn More</a>
	</div>
</div>

<div class="row">
	<div class="col"></div>
</div>

{% endblock %}