{% extends "base.html" %}
{% block title %} :: Resources{% endblock %}
{% load static %}
{% block content %}
<div class="row">
	<div class="banner position-relative w-100">
      <img class="img-fluid w-100" src="{% static 'images/resources-banner.jpg' %}" alt="Rise from the wreckage" />
	  <div class="banner-title">Resources</div>
	</div>
</div>
  
<div class="row py-5 px">
	<div class="col text-left">
		<ul class="list-unstyled" style="list-style-type:disc;">
			<li>
				<a href="https://www.aeinstein.org/198-methods-of-nonviolent-action/">198 Methods of Non-Violent Action</a> - Albert Einstein Institution
			</li>
			<li>
				<a href="https://www.aeinstein.org/">Albert Einstein Institution Website</a>
			</li>
			<li>
				<a href="https://studentpirgs.org/sp/student-pirgs-activist-toolkit">Student PIRGs Activist Toolkit</a> - Student PIRGs
			</li>
			<li>
				<a href="https://mobilizingideas.wordpress.com/category/daily-disruption/">Daily Disruption</a> - Mobilizing Ideas
			</li>
			<li>
				<a href="https://medium.com/the-gentle-revolution/swarm-leadership-i-443e7b0048a3">Swarm Leadership: How to Organize Without Leaders?</a> - Medium
			</li>
			<li>
				<a href="http://organizingforpower.org/action-resource/">Action Resources</a> - Organizing for Power
			</li>
			<li>
				<a href="https://beautifultrouble.org/">Beautiful Trouble: A Toolbox for Revolution</a> - Book and Website
			</li>
			<li>
				<a href="https://wagingnonviolence.org/">Waging Non-Violence Website</a>
			</li>

			<li>
				<a href="https://c4aa.org/">The Centre for Artistic Activism Website</a>
			</li>

			<li>
				<a href="https://workthatreconnects.org/">Work That Reconnects Network</a>
			</li>

			<li>
				<a href="http://www.climatedisobedience.org/">Climate Disobedience Center</a>
			</li>
	</div>
</div>

{% endblock %}