{% extends "base.html" %}
{% block title %}:: Join Extinction Rebellion Massachusetts!{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="Here are the ways you can sign on to the Rebellion in Massachusetts" />
{% endblock %}

{% block content %}
<div class="row pt-5">
	<div class="col-text pl-5">
		<h1 class="text-center">Join The Rebellion!</h1>
		<p>To subscribe to the general email list, sign up below.</p>
<link href='https://actionnetwork.org/css/style-embed-whitelabel-v3.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v3/form/xr-boston-sign-up?format=js&source=widget'></script><div id='can-form-area-xr-boston-sign-up' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
	</div>
</div>

{% endblock %}