{% extends "base.html" %}
{% block title %} :: Sign up{% endblock %}
{% block content %}
<div class="row pt-4">
	<div class="col-10 offset-1">
		<h2 class="text-center">Join The Rebellion!</h2>
		<p>To subscribe to the general email list, sign up below.</p>
		<p>You can also get involved with any upcoming <a href="{% url 'extinctionr.info:page' page='events' %}">events</a> or <a href="/talk">arrange a talk</a> in your community center or your home.</a></p>
	<link href='https://actionnetwork.org/css/style-embed-v3.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v3/form/xr-boston-sign-up?format=js&source=widget'></script><div class="pt-2" id='can-form-area-xr-boston-sign-up' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
	</div>
</div>
{% endblock %}