{% extends "base.html" %}
{% block title %}:: Video{% endblock %}
{% load static %}
{% block og_tags %}
{% endblock %}

{% block content %}
<div class="row pt-4">
	<h2 class="col text-center">Videos</h2>
</div>
<div class="row">
	<div class="col-6 video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/PvDk6THMEJI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="col-6 video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/WOABT6BrAm4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
	</div>
</div>
<div class="row">
	<div class="col video offset-3">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/o2nRWbW0RC8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
{% endblock %}