{% extends "base.html" %}
{% load static %}
{% block title %} :: Why?{% endblock %}
{% block og_tags %}
  <meta property="og:description" content="Help Extinction Rebellion call upon the Boston Globe to sound the alarm on the climate crisis!" />
{% endblock %}
{% block inline_css %}
{{block.super}}
  h1 {
    font-family: "Crimson Text", Georgia, serif !important;
    font-size: 4em;
  }
  .card-footer {
    color:white;
  }
  
{% endblock %}

{% block content %}
<div class="row">
  <div class="banner position-relative w-100">
    <img class="img-fluid w-100" src="{% static 'images/climate-emergency-banner.jpg' %}" alt="Extinction Rebellion Massachusetts" />
    <div class="banner-title">The Emergency</div>
  </div>
</div>

<div class="row py-5 xr-bg-gray p-x-lg-5">
  <div class="col-md p-lg-3 my-2">
    <div class="card text-center">
      <div class="card-body">
        <h1>&#x201D</h1>
        <p class="card-text">We are in a planetary emergency.</p>
      </div>
      <div class="card-footer xr-bg-angry">
        <p style="font-size: 1.3em;">Prof. James Hansen</p>
        <p>Former Director of the NASA Goddard Institute for Space Studies</p>
      </div>      
    </div>
  </div>
  <div class="col-md p-lg-3 my-2">
    <div class="card text-center">
      <div class="card-body text-center">
        <h1>&#x201D</h1>
        <p class="card-text">
          Climate change is a medical emergency... it thus demands an emergency response.
        </p>
      </div>
      <div class="card-footer xr-bg-angry">
        <p style="font-size: 1.3em;">Prof. Hugh Montgomery</p>
        <p>Director of the University College London Institute for Human Health 
          and Performance, Lancet Comission Co-Chair
        </p>
      </div>      
    </div>
  </div>
  <div class="col-md p-lg-3 my-2">
    <div class="card text-center">
      <div class="card-body">
        <h1>&#x201D</h1>
        <p class="card-text">Based on sober scientific analysis, we are 
          deeply within a climate emergency state but people are not aware of it.
        </p>
      </div>
      <div class="card-footer xr-bg-angry">
        <p style="font-size: 1.3em;">Prof. Schellnhuber</p>
        <p>Former of the Postdam Institute for Climate Impact Research</p>
      </div>      
    </div>
  </div>
  <div class="col-md p-lg-3 my-2">
    <div class="card text-center">
      <div class="card-body">
        <h1>&#x201D</h1>
        <p class="card-text">This is an emergency and for emergency situations we need
          emergency action.</p>
      </div>
      <div class="card-footer xr-bg-angry">
        <p style="font-size: 1.3em;">Ban Ki-Moon</p>
        <p>Former UN Secretary General</p>
      </div>      
    </div>
  </div>
</div>

<div class="row pt-5">
	<div class="col-text">
<h2 class="text-uppercase display-4">We are in a climate and ecological <span class="xr-red"><span class="xr-red">emergency</span></h2>

<p>The current rate of human-caused environmental destruction has forecast our industrial era to be “one of the most devastating epochs for life on Earth”.<sup><a href="#ref1">1</a></sup> 
  Animal populations have decreased in size by 60%,<sup><a href="#ref2">2</a></sup> 
  while the rate of species extinction has risen a thousand-fold.<sup><a href="#ref3">3</a></sup> 
  Humans’ carbon emissions have raised global temperatures by 1.1°C, already causing an increase in extreme weather and natural disasters.<sup><a href="#ref4">4</a></sup> The impacts of climate change, which include disease, displacement and death, exacerbate existing inequality by hitting under-resourced communities hardest.<sup><a href="#ref5">5</a></sup></p>

<h3 class="text-uppercase display-4 pt-4">Action for the future must be taken urgently</h3>

<p>As rising global temperatures reach the 1.5-2°C range, the risk of more abrupt &amp; drastic damage due to ecosystem &#8216;tipping points&#8217; will increase rapidly.<sup><a href="#ref6">6</a></sup> Unfortunately, the timescale of climate feedback means that the full effect of our past and present inaction will not be seen for decades: if CO<sub>2 </sub>emissions were reduced to zero today, global temperatures would still continue to rise bringing them closer into this critical range.<sup><a href="#ref7">7</a></sup></p>

<h3 class="text-uppercase display-4 pt-4">In the face of denial and willful negligence, we will <span class="xr-green">rise up</span></h3>

<p>Even if countries hold to their Paris agreement pledges, temperatures this century will rise to 2.6–3.1°C above pre-industrial conditions<sup><a href="#ref8">8</a></sup>, with the effects persisting for several millennia.<sup><a href="#ref9">9</a>,<a href="#ref10">10</a></sup> Consider that this agreement contains no reference to &#8216;coal&#8217;, &#8216;oil&#8217;, &#8216;fossil fuel&#8217; or &#8216;carbon dioxide&#8217;, nor to the words &#8216;zero&#8217;, &#8216;ban&#8217;, &#8216;prohibit&#8217;, or &#8216;stop&#8217;.<sup><a href="#ref11">11</a></sup> Governments are not owning up to the scale of this emergency, to the vast ecocide they are perpetrating. Across the spectrum, media coverage of climate change remains stagnant<sup><a href="#ref12">12</a></sup> and misdirects focus towards climate denialism, away from calls for immediate action.<sup><a href="#ref13">13</a></sup></p>

<p>Whatever our politics, we must be conscientious protectors of life, rebels against extinction. History shows us that mobilizing 3.5% of the population for non-violent disobedience is a reliable way to achieve change,<sup><a href="#ref14">14</a></sup> while our present moment calls us to collectively create meaning for our lives in our mission to protect what we love. We ask others who feel the same way to join our <a href="{% url 'extinctionr.info:page' page='signup' %}">international non-violent Rebellion.</a></p>

<p>Read <a href="{% url 'extinctionr.info:page' page='about' %}">more about Extinction Rebellion</a></p>

<div class="row mt-4">
	<div class="col">

<hr>
<h3 class="text-uppercase">References</h3>
<small>
<ol>
<li id="ref1">Kremen &amp; Merenlender, 2018: <a href="http://science.sciencemag.org/content/362/6412/eaau6020">Landscapes that work for biodiversity and people</a>. <em>Science</em>.</li>
<li id="ref2">World Wildlife Fund &amp; the Zoological Society of London, 2018: <em><a href="https://www.wwf.org.uk/sites/default/files/2018-10/wwfintl_livingplanet_full.pdf">Living Planet Report</a></em>. (See also Ceballos, Ehrlich, &amp; Dirzo, 2017: <a href="https://www.pnas.org/content/114/30/E6089">Biological annihilation</a> via the ongoing sixth mass extinction signaled by vertebrate population losses and declines. <em>PNAS</em>.) For summary and references, see the <a href="https://www.biologicaldiversity.org/programs/biodiversity/elements_of_biodiversity/extinction_crisis/">Center for Biological Diversity</a>.</li>
<li id="ref3">Pimm et al, 2014. <a href="http://science.sciencemag.org/content/344/6187/1246752?casa_token=e2J67c3k-TUAAAAA:nTajUYv_5TRK7kYAfDNX4s9ZrIO9rxc2cg-d6RhUPXXOKxzCRlt7PInbF3W3gVDjxm_MbTOr6-8bUqs">The biodiversity of species and their rates of extinction, distribution, and protection</a>. <em>Science.</em></li>
<li id="ref4"><a href="https://nca2018.globalchange.gov/chapter/2/#key-message-8">Changes in severe storms</a>, <a href="https://nca2018.globalchange.gov/chapter/2/#key-message-9">Global flooding</a>. <em>Fourth National Climate Assessment.</em></li>
<li id="ref5">U.S. Global Change Research Program, 2018: <em><a href="https://nca2018.globalchange.gov/">Impacts, Risks, and Adaptation in the United States</a>: Fourth National Climate Assessment</em>.</li>
<li id="ref6">Drijfhout et al, 2015: <a href="https://www.pnas.org/content/pnas/112/43/E5777.full.pdf">Catalogue of abrupt shifts in Intergovernmental Panel on Climate Change climate models</a>. PNAS.</li>
<li id="ref7">Collins et al., 2013: <a href="http://www.climatechange2013.org/report/full-report/">Long-term climate change: Projections, commitments and irreversibility</a>. Referenced in <a href="https://science2017.globalchange.gov/chapter/4/">Fourth National Climate Assessment</a></li>
<li id="ref8">Rogelj et al., 2016: <a href="https://www.nature.com/articles/nature18307">Paris Agreement climate proposals need a boost to keep warming well below 2 °C</a>. <em>Nature.</em></li>
<li id="ref9">Solomon et al., 2009: <a href="https://www.pnas.org/content/106/6/1704">Irreversible climate change due to carbon dioxide emissionsm</a>. <em>PNAS.</em></li>
<li id="ref10">Clark et al., 2016: <a href="https://www.nature.com/articles/nclimate2923">Consequences of twenty-first-century policy for multi-millennial climate and sea-level change</a>. <em>Nature</em>.</li>
<li id="ref11">As noted in Spratt &amp; Dunlop, 2018: <em><a href="http://climateextremes.org.au/wp-content/uploads/2018/08/What-Lies-Beneath-V3-LR-Blank5b15d.pdf">What lies beneath</a>: the understatement of existential risk</em>. The original text of the Paris Agreement can be found <a href="https://unfccc.int/process-and-meetings/the-paris-agreement/the-paris-agreement">here</a>.</li>
<li id="ref12">Freudenburg and Muselli, 2010: <a href="https://www.sciencedirect.com/science/article/abs/pii/S0959378010000300?via%3Dihub">Global warming estimates, media expectations, and the asymmetry of scientific challenge</a>. <em>Global Environmental Change</em>.</li>
<li id="ref13">Boykoff, Andrews and Nacu-Schmidt, 2018: <a href="https://sciencepolicy.colorado.edu/icecaps/research/media_coverage/tv/index.html">US Television Coverage of Climate Change or Global Warming, 2004-2018</a>.</li>
<li id="ref14">Chenoweth and Stephan, 2012: <a href="https://cup.columbia.edu/book/why-civil-resistance-works/9780231156820">Why Civil Resistance Works: The Strategic Logic of Nonviolent Conflict</a>. Based on an 2008 <a href="https://www.mitpressjournals.org/doi/abs/10.1162/isec.2008.33.1.7">article</a>. </li>
</ol></small>
</div>
</div>
{% endblock %}