{% extends "base.html" %}
{% block title %}:: {{object.name}} Circle{% endblock %}
{% block content %}
<div class="row pt-5" style="background-color: {{object.bgcolor}}">
	<div class="col-text">
		<h1 class="text-center">{{object.name}}{% for p in object.parents %} :: <a href="{{p.get_absolute_url}}">{{p.name}}</a>{% endfor %}{% if not object.parent %} <a href="{% url 'circles:outer' %}">&uarr;</a>{% endif %}</h1>
		{% if can_see_members %}<h5 class="text-center">{{object.get_all_members|length}} members</h5>{% endif %}
		{% if 'circles.change_circle' in perms %}
		<h4 class="text-center"><a href="/admin/circles/circle/{{object.id}}/change/">edit</a></h4>
		{% endif %}
		{% load info %}
		<div id="purpose" class="small">{{object.purpose|markdownify}}</div>
		{% if can_see_members %}
		<section class="row pt-3 border-top">
			<div id="leads" class="col">
				<h4 class="text-center">leads</h4>
				<ul class="pl-2 list-unstyled small">
				{% for contact in object.leads.all %}
				<li><a href="{% url 'circles:person' contact_id=contact.id %}">{{contact.first_name}} {{contact.last_name}}</a> &mdash;  <a href="mailto:{{contact.email}}">{{contact.email}}</a></li>
				{% endfor %}
				</ul>
				{% if is_lead %}
				<form action="{% url 'circles:add-member' pk=object.id %}" class="container" method="post">
				{% csrf_token %}
					<div class="form-group row">
						<div class="col">
							{{lead_form.role}}
							{{lead_form.contact}}
						</div>
					</div>
					<div class="form-group row mt-4 pt-2">
						<div class="col col-lg-4 text-center">
							<input class="btn btn-block btn-fucxed btn-lg btn-outline-dark btn-success text-uppercase" type="submit" value="add lead">
						</div>
					</div>
				</form>
				{% endif %}
			</div>
			<div class="col border-left" id="members">
				<h4 class="text-center">members</h4>
{% if is_lead %}
				<form action="{% url 'circles:add-member' pk=object.id %}" class="container" method="post">
					{% csrf_token %}
					<div class="form-group row">
						<div class="col">
							{{form.role}}
							{{form.contact}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
						<h5 class="text-center">or</h5>
							{{form.email}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							{{form.name}}
						</div>
					</div>
					<div class="form-group row mt-4 pt-2">
						<div class="col col-lg-4 ml-auto">
							<input class="btn btn-block btn-fucxed btn-lg btn-outline-dark btn-success text-uppercase" type="submit" value="add member">
						</div>
					</div>
				</form>
{% endif %}
			</div>
		</section>
			{% if members %}
		<table class="pl-4 table table-sm table-responsive-sm xtable-responsive-lg table-striped table-hover table-light">
		<thead class="thead-dark small">
			<tr class="text-center">
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			<th scope="col">Phone</th>
			<th scope="col">Action</th>
			</tr>
		</thead>
			<tbody class="small">
			{% for contact in members %}
			<tr>
				<th scope="row" class="px-3"><a href="{% url 'circles:person' contact_id=contact.id %}">{{contact}}</a></td>
				<td class="text-center"><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
				<td>{% if contact.phone %}{{contact.phone}}{% endif %}</td>
				<td class="text-center"><a href="#" title="remove" class="btn-fucxed strong del-member" data-name="{{contact}}" data-contact="{{contact.id}}" data-role="member">X</a></td>
			</tr>
			{% endfor %}
			{% if pending %}
			<tr>
				<td></td>
				<th scope="row" class="px-4"><h5>pending</h5></th>
			</tr>
			{% for req in pending %}
			<tr>
				<th scope="row" class="px-3"><a href="{% url 'circles:person' contact_id=req.requestor_id %}">{{req.requestor}}</a></td>
				<td class="text-center"><a href="mailto:{{req.requestor.email}}">{{req.requestor.email}}</a></td>
				<td><a class="btn btn-sm btn-primary btn-fucxed" href="/admin/circles/membershiprequest/{{req.id}}/change/">confirm</a></td>
			</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
			{% endif %}
		<!-- </div> -->
		{% if members %}<div class="text-right"><a class="btn btn-info btn-fucxed" href="mailto:{{object.get_member_emails}}">email all</a></div>{% endif %}
		{% endif %}
		{% if request_form %}
		<form action="{% url 'circles:request-membership' pk=object.id %}" class="container pt-4" method="post">
			{% csrf_token %}
			<div class="form-group row">
				<div class="col col-lg-4 offset-lg-4">
					{{request_form.circle_id}}
					{{request_form.email}}
				</div>
			</div>
			<div class="form-group row">
				<div class="col col-lg-4 offset-lg-4">
					{{request_form.name}}
				</div>
			</div>
			<div class="form-group row mt-4 pt-2">
				<div class="col col-lg-4 offset-lg-4">
					<input class="btn btn-block btn-fucxed btn-lg btn-outline-dark btn-success text-uppercase" type="submit" value="Join group">
				</div>
			</div>
		</form>
		{% endif %}
		<hr>
	</div>
</div>
<div class="row">
	{% for subgroup in object.circle_set.all %}
	<div class="col p-2 pt-3 border" style="background-color: {{subgroup.bgcolor}}">
		<h3 class="text-center"><a href="{% url 'circles:detail' pk=subgroup.id %}">{{subgroup.name}}</a></h3>
		{% if can_see_members %}
		<h5 class="text-center">{{subgroup.get_all_members|length}} members</h5>
		<ul class="list-unstyled small px-4">
		{% for contact in subgroup.leads.all %}
		<li><a href="mailto:{{contact.email}}">{{contact}}</a></li>
		{% endfor %}
		</ul>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
	$('.del-member').click(function() {
		if (confirm("Are you sure you want to remove "+ $(this).data('name') + "?")) {
			var url = "{% url 'circles:del-member' pk=object.id %}";
			var data = {
				id: $(this).data('contact'),
				role: $(this).data('role')
			}
			$.post(url, data, function() {
				location.reload();
			});
		}
	});
</script>
{% endblock %}
