{% extends "base.html" %}
{% block title %}:: {{object.name}} Circle{% endblock %}
{% block content %}
<div class="row pt-5" style="background-color: {{object.bgcolor}}">
	<div class="col-text">
		<h1 class="text-center">{{object.name}}{% for p in object.parents %} :: <a href="{{p.get_absolute_url}}">{{p.name}}</a>{% endfor %}{% if not object.parent %} <a href="{% url 'circles:outer' %}">&uarr;</a>{% endif %}</h1>
		<div class="row text-center">
		{% if can_see_members %}<h5 class="col">{{object.recursive_members_count}} members</h5>{% endif %}
			<h5 class="col"><a href="mailto:{{object.public_email}}">{{object.public_email}}</a></h5>
		{% if is_lead %}
			<h4 class="col"><a href="/admin/circles/circle/{{object.id}}/change/">edit</a></h4>
		{% endif %}
			<h4 class="col"><a href="/wiki/working-groups/{{object.wiki_home}}/">wiki</a></h4>
		</div>
		{% load info %}
		<hr>
		<div id="purpose" class="small py-4">{{object.purpose|markdownify}}</div>
		{% if is_member or is_lead %}
		{% if object.sensitive_info %}
		<div id="sensitive" class="small">
			<h5>sensitive information</h5>
			{{object.sensitive_info|markdownify}}
		</div>
		{% endif %}
		<div id="jobs">
			<h5>jobs</h5>
		{% if jobs %}
			<ul>
			{% for job in jobs %}
			<li>
				{{job.job|markdownify}}
				{% if job.filled %}
				Filled by: <strong>{{job.filled}}</strong>
				{% else %}
				<button class="btn btn-primary btn-fucxed job-button" data-jobid="{{job.id}}">I will do this</button>
				{% endif %}
			</li>
			{% endfor %}
			</ul>
		{% endif %}
			{% if is_lead %}
			<p><a href="/admin/circles/circlejob/add/" class="btn btn-primary btn-fucxed">create a job</a></p>
			{% endif %}
		</div>
		{% endif %}
		<section class="row pt-3 border-top">
		{% if can_see_leads and object.coordinators %}
			<div id="leads" class="col">
				<h4 class="text-center">coordinators</h4>
				<ul class="pl-2 list-unstyled small">
				{% for coord in object.coordinators %}
				<li class="pb-3"><strong>{{coord.verbose_role}}:</strong><br><a href="{% url 'circles:person' contact_id=coord.contact.id %}">{{coord.contact}}</a> &mdash;  <a href="mailto:{{coord.contact.email}}">{{coord.contact.email}}</a></li>
				{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if is_lead %}
			<div class="col border-left" id="members">
				<h4 class="text-center">members</h4>
				<form action="{% url 'circles:add-member' pk=object.id %}" class="container" method="post">
					{% csrf_token %}
					<div class="form-group row">
						<div class="col">
							{{form.contact}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
						<h5 class="text-center">or</h5>
							{{form.email}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							{{form.name}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col text-center">
							{{form.role}}
							<p class="pt-3"><a href="" data-toggle="modal" data-target="#role-modal">Explanation of roles</a></p>
						</div>
					</div>
					<div class="form-group row mt-4 pt-2">
						<div class="col col-lg-4 ml-auto">
							<input class="btn btn-block btn-fucxed btn-lg btn-outline-dark btn-success text-uppercase" type="submit" value="add member">
						</div>
					</div>
				</form>
			</div>
		{% endif %}
		</section>
		{% if can_see_members %}
			{% if members or pending %}
		<a name="members"></a>
		<table class="pl-4 table table-sm table-responsive-sm xtable-responsive-lg table-striped table-hover table-light">
		<thead class="thead-dark small">
			<tr class="text-center">
			<th scope="col">Role</th>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			<th scope="col">Phone</th>
			<th scope="col">Action</th>
			</tr>
		</thead>
			<tbody class="small">
			{% for mem, role in members %}
			<tr>
				<th scope="row" class="px-3 text-center">{{mem.verbose_role}}</th>
				<td><a href="{% url 'circles:person' contact_id=mem.id %}">{{mem}}</a></td>
				<td class="text-center"><a href="mailto:{{mem.email}}">{{mem.email}}</a></td>
				<td>{% if mem.phone %}{{mem.phone}}{% endif %}</td>
				<td class="text-center"><a href="#" title="remove" class="btn-fucxed strong del-member" data-name="{{mem}}" data-contact="{{mem.id}}" data-role="{{role}}">X</a></td>
			</tr>
			{% endfor %}
			{% if pending %}
			<tr>
				<td></td>
				<td></td>
				<th scope="row" class="px-4 py-4"><h5>pending</h5></th>
				<td></td>
				<td></td>
			</tr>
			{% for req in pending %}
			<tr>
				<td></td>
				<th scope="row" class="px-3"><a href="{% url 'circles:person' contact_id=req.requestor_id %}">{{req.requestor}}</a></td>
				<td class="text-center">
					<a href="mailto:{{req.requestor.email}}">{{req.requestor.email}}</a>
				</td>
				{% if is_lead %}
				<td>
					<button class="approve-member btn btn-sm btn-primary btn-fucxed" data-contact="{{req.requestor.id}}">confirm</button>
				</td>
				<td>
					<button class="deny-member btn btn-sm btn-danger btn-fucxed" data-name="{{req.requestor}}" data-role="member" data-contact="{{req.requestor.id}}">deny</button>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
			{% endif %}
			</tbody>
		</table>
			{% endif %}
		<!-- </div> -->
		{% if members %}<div class="text-right"><a class="btn btn-info btn-fucxed" href="mailto:{{object.get_member_emails}}">email all</a></div>{% endif %}
		{% endif %}
		{% if request_form %}
		<section class="row">
			<div class="col">
		{% if is_pending %}
		<p class="text-success py-4 text-center">Your request to join is pending coordinator approval.<br>Please check back later.</p>
		{% else %}
		<form action="{% url 'circles:request-membership' pk=object.id %}" class="container pt-4" method="post">
			{% csrf_token %}
			<div class="form-group row">
				<div class="col col-lg-4 offset-lg-4">
					{{request_form.circle_id}}
					{{request_form.email}}
				</div>
			</div>
			<div class="form-group row">
				<div class="col col-lg-4 offset-lg-4">
					{{request_form.name}}
				</div>
			</div>
			<div class="form-group row mt-4 pt-2">
				<div class="col col-lg-4 offset-lg-4">
					<input class="btn btn-block btn-fucxed btn-lg btn-outline-dark btn-success text-uppercase" type="submit" value="Join group">
				</div>
			</div>
		</form>
		{% endif %}
			</div>
		</section>
		{% endif %}
		<hr>
	</div>
</div>
{% if object.children %}
<div class="row pt-2" style="background-color: {{object.bgcolor}}">
	<h4 class="col">working groups</h4>
</div>
<div class="row">
	{% for subgroup in object.children %}
	<div class="col p-2 pt-3 border text-center" style="background-color: {{subgroup.bgcolor}}">
		<h3><a href="{% url 'circles:detail' pk=subgroup.id %}">{{subgroup.name}}</a></h3>
		<div class="row pb-2 px-2" style="font-size: .55em">
			{% if subgroup.public_email %}
			<div class="col">
				<a href="mailto:{{subgroup.public_email}}">{{subgroup.public_email}}</a>
			</div>
			{% endif %}
			{% if can_see_members %}<div class="col"><strong>{{subgroup.recursive_members_count}} members{% if not subgroup.lead_list %} &mdash; <span class="text-danger">no leads</span>{% endif %}</strong></div>{% endif %}
		</div>
		{% if can_see_leads %}
		<ul class="list-unstyled small">
		{% for mem in subgroup.external_coordinators %}
		<li><a href="mailto:{{mem.contact.email}}">{{mem.contact}}</a></li>
		{% endfor %}
		</ul>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endif %}
{% if not user.is_authenticated %}
<div class="row p-4 pt-5">
	<h5 class="col"><a href="{% url 'login' %}?next={{object.get_absolute_url}}">login</a> to see more information</h5>
</div>
{% endif %}

{% if is_lead %}
<div class="modal" tabindex="-1" role="dialog" id="role-modal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Role Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
        	<li><strong>Internal Coordinator</strong> &mdash; Schedule &amp; Facilitate meetings, draft agendas</li>
        	<li><strong>External Coordinator</strong> &mdash; Represents this group within the {% if object.parent %}wider <a href="{{object.parent.get_absolute_url}}">{{object.parent.name}}</a> group{% else %}entire organization{% endif %}</li>
        	<li><strong>Member</strong> &mdash; You're a member of the group, with no special responsibilities (yet!)</li>
        </ul>
        {% if object.role_description %}
        <p>{{object.role_description|markdownify}}</p>
        {% endif %}
        <p>For more information on Extinction Rebellion organization, <a href="https://www.loom.com/share/2a1a2ecc1b5247d5bac7c32e1cf60d73">watch this brief video</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-fucxed" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	$('.del-member,.deny-member').click(function() {
		if (confirm("Are you sure you want to remove "+ $(this).data('name') + "?")) {
			var url = "{% url 'circles:del-member' pk=object.id %}";
			var data = {
				id: $(this).data('contact'),
				role: $(this).data('role')
			}
			$.post(url, data, function() {
				location.reload();
			});
		}
	});
	$('.approve-member').click(function() {
		var url = "{% url 'circles:approve-member' pk=object.id %}";
		var data = {
			id: $(this).data('contact')
		}
		$.post(url, data, function(){
			location.reload();
		});
	});
	$('.job-button').click(function(){
		if (confirm("Are you sure you can do this job?")) {
			var url = "{% url 'circles:jobs' %}";
			var data = {
				id: $(this).data('jobid')
			}
			$.post(url, data, function() {
				location.reload();
			});
		}
	});
</script>
{% endblock %}
