{% extends "base.html" %}
{% block title %}:: Available Jobs{% endblock %}
{% block content %}
{% load info %}
<div class="row pt-5">
    <div class="col-text">
        <h1 class="text-center">open jobs</h1>
        {% if not jobs %}
        <p>There are no jobs open right now. But you can still get involved with a <a href="/circle/">working group</a>.</p>
        {% endif %}
        {% if 'circles.add_job' in perms %}
        <p class="text-center"><a href="/admin/circles/circlejob/add/" class="btn btn-info btn-fucxed">create a job</a></p>
        {% endif %}
        {% for job in jobs %}
        <div class="row py-2" style="background-color:{{job.circle.bgcolor}}">
            <div class="col">
                <a href="{{job.circle.get_absolute_url}}">{{job.circle}}</a>
            </div>
            <div class="col">
                {{job.job|markdownify}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
</script>
{% endblock %}
