{% extends "base.html" %}
{% block title %}:: Circles{% endblock %}
{% block inline_css %}
{{block.super}}
.circle {
	font-size: .8em;
}

{% endblock %}
{% block content %}
{% load info %}
{% for circle in object_list %}
<div class="circle row pt-5" style="background-color: {{circle.bgcolor}}">
	<div class="col-2 pt-4 p-2">
		<h3 class="text-center"><a href="{% url 'circles:detail' pk=circle.id %}">{{circle.name}}</a></h3>
		{% if can_see_members %}<h5 class="text-center">{{circle.get_all_members|length}} members</h5>{% endif %}
		{{circle.purpose|markdownify}}
	</div>
	<div class="col-10 container">
		{% for sub1 in circle.circle_set.all %}
		<div class="circle row border" style="background-color: {{sub1.bgcolor}}">
			<div class="col-{% if can_see_members %}4{% else %}5{% endif %} pt-4 p-2 border">
				<h3 class="text-center"><a href="{{sub1.get_absolute_url}}">{{sub1.name}}</a></h3>
				{% if can_see_members %}<h5 class="text-center pb-4">{{sub1.get_all_members|length}} members</h5>{% endif %}
				{{sub1.purpose|markdownify}}
			</div>
			<div class="col border container">
				{% for sub2 in sub1.circle_set.all %}
				<div class="circle row" style="background-color: {{sub2.bgcolor}}">
					<div class="col-{% if can_see_members %}6{% else %}12{% endif %} pt-4 p-2 border">
						<h3 class="text-center"><a href="{{sub2.get_absolute_url}}">{{sub2.name}}</a></h3>
						{{sub2.purpose|markdownify}}
					</div>
					{% if can_see_members %}<div class="col border p-4">
						<h5 class="text-center">{{sub2.members.count}} members</h5>
						<h5 class="text-center">{{sub2.leads.count}} leads</h5>
						<ul class="list-unstyled lead">
						{% for contact in sub2.leads.all %}
						<li><a href="{% url 'circles:person' contact_id=contact.id %}">{{contact.first_name}} {{contact.last_name}}</a></li>
						{% endfor %}
						</ul>
					</div>{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}


{% endblock %}
