{% extends "base.html" %}
{% block title %}:: Circles{% endblock %}
{% block inline_css %}
{{block.super}}
.circle {
	font-size: .8em;
}

{% endblock %}
{% block content %}
{% load info %}
{% if not user.is_authenticated %}
<h4 class="pt-2 text-right"><a href="{% url 'login' %}">login</a></h4>
{% else %}
<h4 class="pt-2 text-right"><a href="{% url 'circles:person-me' %}">my circles</a></h4>
{% endif %}
{% for circle in object_list %}
<div class="circle row pt-5" style="background-color: {{circle.bgcolor}}">
	<div class="col col-lg-2 pt-4 p-3">
		<h3 class="text-center"><a href="{% url 'circles:detail' pk=circle.id %}">{{circle.name}}</a></h3>
		<h5 class="text-center"><a href="mailto:{{circle.public_email}}">{{circle.public_email}}</a></h5>
		{% if can_see_members %}<h5 class="text-center">{{circle.get_all_members|length}} members</h5>{% endif %}
		{{circle.purpose|markdownify}}
	</div>
    <div class="col-10 container d-none d-sm-block">
		{% for sub1 in circle.circle_set.all %}
		<div class="circle row border" style="background-color: {{sub1.bgcolor}}">
           <div class="col-5 pt-4 p-2 border">
				<h3 class="text-center"><a href="{{sub1.get_absolute_url}}">{{sub1.name}}</a></h3>
				<div class="row text-center pb-2">
					<div class="col"><a href="mailto:{{sub1.public_email}}">{{sub1.public_email}}</a></div>
					{% if can_see_members %}<div class="col"><strong>{{sub1.get_all_members|length}} members</strong></div>{% endif %}
				</div>
				{{sub1.purpose|markdownify}}
			</div>
			<div class="col border container">
				{% for sub2 in sub1.get_children %}
				<div class="circle row" style="background-color: {{sub2.bgcolor}}">
                   <div class="col pt-4 p-2 border">
						<h3 class="text-center"><a href="{{sub2.get_absolute_url}}">{{sub2.name}}</a></h3>
						<div class="row text-center pb-2">
							<div class="col"><a href="mailto:{{sub2.public_email}}">{{sub2.public_email}}</a></div>
							{% if can_see_members %}<div class="col"><strong>{{sub2.get_members.count}} members{% if not sub2.get_leads %} &mdash; <span class="text-danger">no leads</span>{% endif %}</strong></div>{% endif %}
						</div>
						{% if can_see_members %}
						<ul class="list-unstyled lead px-4 text-center">
						{% for contact in sub2.get_leads %}
						<li><a href="{% url 'circles:person' contact_id=contact.id %}">{{contact}}</a></li>
						{% endfor %}
						</ul>
						{% endif %}
						{{sub2.purpose|markdownify}}
						{% if sub2.get_children %}
						<h5 class="text-center pt-3">Subgroups</h5>
						<ul class="list-unstyled">
							{% for sub3 in sub2.get_children %}
							<li><h5 class="text-center"><a href="{{sub3.get_absolute_url}}">{{sub3.name}}</a></h5></li>
							{% endfor %}
						</ul>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}


{% endblock %}
