{% extends "base.html" %}
{% block title %}:: {{contact.first_name}} {{contact.last_name}}{% endblock %}
{% block content %}
<div class="row pt-5">
	<div class="col-text">
		<h1 class="text-center">{{contact.first_name}} {{contact.last_name}}</h1>
		{% if 'circles.change_circle' in perms %}
		<h4 class="text-center"><a href="/admin/contacts/contact/{{contact.id}}/change/">edit</a></h4>
		{% endif %}
		<address class="small">
		<a href="mailto:{{contact.email}}">{{contact.email}}</a><br>
		{% if contact.phone %}{{contact.phone}}<br>{% endif %}
		{% if contact.address %}
		{{contact.address.address_line}}<br>
		{% if contact.address.street %}{{contact.address.street}}<br>{% endif %}
		{{contact.address.city}} {{contact.address.state}}<br>
		{{contact.address.postcode}}<br>
		{% endif %}
		</address>
		<hr>
		<div id="leads">
			<h4>lead of:</h4>
			<ul class="pl-4 list-unstyled list-horizontal">
			{% for circle in contact.leads.all %}
			<li><a href="{{circle.get_absolute_url}}">{{circle}}</a>{% if is_me %} &mdash; <a href="#" title="remove" class="btn-fucxed strong del-member" data-circle-url="{% url 'circles:del-member' pk=circle.id %}" data-circle="{{circle}}" data-contact="{{contact.id}}" data-role="lead">X</a>{% endif %}</li>
			{% endfor %}
			</ul>
		</div>
		<div id="members">
			<h4>member of:</h4>
			<ul class="pl-4 list-unstyled list-horizontal">
			{% for circle in contact.members.all %}
			<li><a href="{{circle.get_absolute_url}}">{{circle}}</a>{% if is_me %} &mdash; <a href="#" title="remove" class="btn-fucxed strong del-member" data-circle-url="{% url 'circles:del-member' pk=circle.id %}" data-circle="{{circle}}" data-contact="{{contact.id}}" data-role="member">X</a>{% endif %}</li>
			{% endfor %}
			</ul>
		</div>
		<hr>
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	$('.del-member').click(function() {
		if (confirm("Are you sure you want to leave "+ $(this).data('circle') + "?")) {
			var data = {
				id: $(this).data('contact'),
				role: $(this).data('role')
			}
			$.post($(this).data('circle-url'), data, function() {
				location.reload();
			});
		}
	});
</script>
{% endblock %}
