{% extends "base.html" %}
{% block title %}:: {{contact.first_name}} {{contact.last_name}}{% endblock %}
{% block content %}
{% load info %}
<div class="row pt-5">
	<div class="col-text">
		<h1 class="text-center">{{contact.first_name}} {{contact.last_name}}</h1>
		{% if 'contacts.change_contact' in perms %}
		<h4 class="text-center"><a href="/admin/contacts/contact/{{contact.id}}/change/">edit</a></h4>
		{% endif %}
		<address class="small">
		<a href="mailto:{{contact.email}}">{{contact.email}}</a><br>
		{% if contact.phone %}{{contact.phone}}<br>{% endif %}
		{% if contact.address %}
		{{contact.address.address_line}}<br>
		{% if contact.address.street %}{{contact.address.street}}<br>{% endif %}
		{{contact.address.city}} {{contact.address.state}}<br>
		{{contact.address.postcode}}<br>
		{% endif %}
		</address>
		<hr>
		<div id="leads">
			<h4>coordinator of:</h4>
			<ul class="pl-4 list-unstyled list-horizontal">
			{% for circle in leads %}
			<li><a href="{{circle.get_absolute_url}}">{{circle}}</a>{% if is_me %} &mdash; <a href="#" title="remove" class="btn-fucxed strong del-member" data-circle-url="{% url 'circles:del-member' pk=circle.id %}" data-circle="{{circle}}" data-contact="{{contact.id}}" data-role="lead">X</a>{% endif %}</li>
			{% endfor %}
			</ul>
		</div>
		<div id="members">
			<h4>member of:</h4>
			<ul class="pl-4 list-unstyled list-horizontal">
			{% for circle in members %}
			<li><a href="{{circle.get_absolute_url}}">{{circle}}</a>{% if is_me %} &mdash; <a href="#" title="remove" class="btn-fucxed strong del-member" data-circle-url="{% url 'circles:del-member' pk=circle.id %}" data-circle="{{circle}}" data-contact="{{contact.id}}" data-role="member">X</a>{% endif %}</li>
			{% endfor %}
			</ul>
		</div>
		<hr>
		<div id="couches">
			<h4>couch:</h4>
			{% for couch in couches %}
			<div class="couch">
				<em>Available:</em>
				{{couch.availability|markdownify}}
				<em>Info:</em>
				{{couch.info|markdownify}}
				{% if is_me %}<br><a class="btn btn-info btn-fucxed" href="/admin/circles/couch/{{couch.id}}/change/">edit</a>{% endif %}
			</div>
			{% endfor %}
			{% if is_me %}
			{% if not couches %}
			<div class="couch">
				<p>Do you have a couch or room you can offer to visiting Rebels? Indicate availability here. If you're comfortable listing your information publicly, it will show up <a href="{% url 'circles:couches' %}">here</a>, otherwise, we'll keep your contact private and connect you if someone comes our way!</p>
				<form method="post">
				{{form.as_p}}
				<button type="submit" class="btn btn-primary btn-fucxed">Add Couch</button>
				</form>
			</div>
			{% endif %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	$('.del-member').click(function() {
		if (confirm("Are you sure you want to leave "+ $(this).data('circle') + "?")) {
			var data = {
				id: $(this).data('contact'),
				role: $(this).data('role')
			}
			$.post($(this).data('circle-url'), data, function() {
				location.reload();
			});
		}
	});
</script>
{% endblock %}
